.mp_chkout .mp_chkoutaddr, .mp_chkout .mp_chkoutconfirm {
    padding-top: 3.5rem;
}

.mp_chkout .mp_chkoutaddr {
    padding-bottom: 15px;
    border-right: 1px solid rgba(151, 151, 151, 0.15);
}

.mp_chkoutaddr .addr-headwrapper, .mp_chkoutconfirm .payment_type {
    margin-bottom: 3.5rem;
}

.mp_chkoutaddr .addr-headwrapper {
    display: block;
}



.addr_input .input-headerwrapper {
    margin-bottom: 1.5rem;
}

.mp_chkoutaddr .addr_header h3 {
    margin-bottom: 0.5rem;
    font-family: 'Gotham Medium', 'Arial', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    color: #4e4e4e;
}

.mp_chkoutaddr .addr_header p {
    font-size: 1.4rem;
    color: #aca9a9;
}

.mp_chkoutaddr .addrmap {
    margin-bottom: 4rem;
    margin-left: -2.5rem;
}

.mp_chkoutaddr .addr_d {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.mp_chkoutaddr .addr_input, .mp_chkoutaddr .addr_location {
    width: 50%;
    padding: 0 2rem;
}

.mp_chkoutaddr .addr_input {
    border-right: 1px solid #efefef;
}

.addr_input .input-headerwrapper {
    display: flex;
}

 .addr_input .input_header {
    flex: 1;
}

.addr_input .input_header h4, .addr_location .dloc h4, .payment_header > h4, .additional_info_header > h4, .confirm_total .dqtity_text > p, .confirm_total .dqtity_numb > p, .confirm_total .tamnt_text > p, .confirm_total .tamnt_numb > p {
    font-family: 'Gotham Medium', 'Arial', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #575757;
}

.addr_input .input_header h4 {
    position: relative;
    top: 5px;
    display: inline-block;
    vertical-align: middle;
}

.addr_input .input_header .add-addr-icon {
    position: relative;
    top: 5px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    padding: 1px 5px;
    border: 1px solid #ed731f;
    border-radius: 7px;
    cursor: pointer;
    transition: box-shadow 0.3s linear;
}

.addr_input .input_header .add-addr-icon:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.addr_input .input_header .add-addr-icon > i {
    font-size: 14px;
    color: #ed731f;
}

.addr_input .addr_input_select2 {
    padding-top: 1rem;
}

.addr_input_select2 .select2-container {
    width: 160px !important
}

.addr-selected p:not(:last-child) {
    margin-bottom: 5px;
}

.addr-selected p:first-child {
    font-weight: 600;
}

.addr_location .d_txt {
    margin-top: 2.5rem;
    margin-bottom: 3rem;
}

.addr_location .dloc {
    position: relative;
    padding-left: 3rem;
}

.addr_location .dloc::before, .addr_location .dloc::after {
    position: absolute;
    left: 0;
    height: 17px;
    width: 17px;
    display: block;
    border-radius: 100%;
    content: '';
}

.addr_location .dloc::before {
    top: 0;
    background-color: #53ca45;
    border: 1px solid #53ca45;
}

.addr_location .dloc::after {
    bottom: 68px;
    background-color: #ef6024;
    border: 1px solid #ef6024;
}

.addr_location .fstn, .addr_location .d_txt, .addr_location .cloc {
    position: relative;
}

.addr_location .fstn::before, .addr_location .fstn::after, .addr_location .d_txt::before, .addr_location .d_txt::after , .addr_location .cloc::before, .addr_location .cloc::after{
    position: absolute;
    left: -25px;
    height: 6px;
    width: 6px;
    display: block;
    border-radius: 100%;
    content: '';
    background-color: #dbdbdb;
}

.addr_location .fstn:before {
    top: 27px;
}

.addr_location .fstn:after {
    top: 43px;
}

.addr_location .d_txt:before {
    top: -7px;
}

.addr_location .d_txt:after {
    top: 9px;
}

.addr_location .cloc:before {
    top: -29px;
}

.addr_location .cloc:after {
    top: -13px;
}

.addr_location .dloc h4 + p {
    font-size: 1.4rem;
    color: a7a7a7;
}

.addr_location .d_txt > p {
    color: #adadad;
}

.payment_type .payment_header {
    margin-bottom: 1.8rem;
}

.payment_type .select2-container {
    width: 180px !important
}

.mp_chkoutconfirm .additional_info .ca_geninput.dnotes {
    margin-top: 3rem !important;
}

.mp_chkoutconfirm .additional_info .ca_geninput:not(:nth-child(3)) {
    margin-top: 2rem;
}

.mp_chkoutconfirm .confirm_total, .confirm_total .tamnt {
    margin-top: 3rem;
}

.confirm_total .dqtity_numb > p span, .confirm_total .tamnt_numb > p span {
    color: #a4a4a4;
}

.confirm_total .tamnt_text > p {
    font-size: 1.8rem;
}

.confirm_total .tamnt_numb > p {
    font-size: 3.6rem;
}

.confirm_total .tamnt_numb > p span {
    font-size: 1.4rem;
}

.confirm_total .tamnt_numb > p sup {
    right: -7px;
}


.confirm_total .dqtity, .confirm_total .tamnt {
    position: relative;
    overflow: hidden;
}

.confirm_total .dqtity {
    padding-bottom: 0.8rem;
    border-bottom: 1px dashed #e3e3e3;
}

.confirm_total .tamnt {
    margin-bottom: 3rem;
    padding: 1rem 0;
}

.confirm_total .dqtity_text, .confirm_total .dqtity_text > p, .confirm_total .tamnt_text, .confirm_total .tamnt_text > p {
     display: inline-block;
}

.confirm_total .dqtity_numb, .confirm_total .tamnt_numb {
    position: absolute;
    right: 1rem;
    top: 0;
    z-index: 120;

}


/*, .addr_location .cloc::before, .addr_location .cloc::after */
