.mp_foodlist {
    margin-top: 1.5rem;
}

.mp_foodlist_header {
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(151, 151, 151, 0.15);
}

.mp_foodlist_header .food_list_qsort, .mp_foodlist_header .food_list_q, .mp_foodlist_header .food_list_q > h4, .mp_foodlist_header .food_list_sorticon {
    display: inline-block;
}

.mp_foodlist_header .food_list_qsort {
    position: relative;
}

.mp_foodlist_header .food_list_q > h4 {
    font-size: 1.6rem;
    font-weight: 700;
    color: #5d5d5d;
}

.mp_foodlist_header .food_list_sorticon {
    margin-left: 30px;
}

.mp_foodlist_header .food_list_appr {
    float: right;
}

.mp_foodlist_header .food_list_appr button:last-child {
    margin-left: 10px;
}

.flist_caption span {
    display: inline-block;
    margin: 0 15px;
}

.flist-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3000;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid red;
}

.mp_foodlist_dropdown_hide {
    display: none;
    opacity: 0;
    transform: translateY(-10%);
}

.flist .fcard-mbottom {
    margin-bottom: 1.5rem;
}

.mp_foodlist_dropdown_show {
    animation: DropdownSlideDown 0.2s ease-in forwards;
}

@keyframes DropdownSlideDown {
    0% {
        opacity: 0;
        transform: translateY(-10%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}