.mp-ocnf {
    padding-top: 3.5rem;
    text-align: center;
}

.mp-ocnf .ocnf-heading {
    font-size: 3rem;
    font-weight: 400;
    color: #555;
    letter-spacing: 1px;
}

.mp-ocnf .onumb {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.mp-ocnf .onumb > p {
    display: inline-block;
    padding: 1.5rem;
    font-size: 1.8rem;
    color: #f77316;
    border: 1px solid #d5d5d5;
    border-radius: 8px;
}

.mp-ocnf .onumb > p > span {
    font-weight: 700;
}

.mp-ocnf .dmsg, .mp-ocnf .qnumb {
    color: #5a5a5a;
}

.mp-ocnf .qnumb {
    margin-top: 2.5rem;
    margin-bottom: 6.5rem;
}