.mp-osum {
    padding-left: 1.5rem;
}

.mp-osum-content {
    display: flex;
}

.mp-osum-content .mp-osum-details {
    width: 65%;
    padding-top: 4rem;
}

.mp-osum-content .mp-osum-img {
    width: 35%;
}

.mp-osum-img .osum-foodimg {
    height: calc(100vh - 175px);
    width: 100%;
}

.mp-osum-img .osum-foodimg > img {
    height: 100%;
    width: 100%;
}

.osdtls-header  h3 {
    margin-bottom: 2rem;
    font-family: 'Gotham Bold', 'Arial', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    color: #5e5e5e;
}

.osdtls-header p {
    font-size: 1.4rem;
    color: #5e5e5e;
}

.osdtls-header p > span {
    font-weight: 700;
}

.mp-osum .osumlist {
    width: 90%;
    margin-top: 8rem;
}

.mp-osum .osumlist .abovefold_content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.osumlist .cadp_singleday:not(:nth-last-child(2)) {
     border-bottom: 1px dashed #d0d0d0;
}


.osumlist .cadp_singleday {
    border: 0;
    border-radius: 0;
}

.osumlist .cadp_singleday .collapse_indicator {
    width: 3%;
}

.osumlist .cadp_singleday .day_name {
    width: 5%;
}

.osumlist .cadp_singleday .day_name > p {
    font-family: 'Gotham Bold', 'Arial', sans-serif;
    font-weight: 700;
    color: #404040;
}

.osumlist .cadp_singleday .cal_stat {
    width: 80%;
    float: none;
    text-align: center;
}

.osumlist .osum_price {
    width: 12%;
}

.osum_price > p {
    font-family: 'Gotham Bold', 'Arial', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    color: #f28845;
}

.osumlist .osum_ttlp {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 4rem 1.5rem 0;
}

.osumlist .osum_ttlp:before {
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    width: 100%;
    display: block;
    background-color: #e0e0e0;
    content: '';
}

.osumlist .osum_ttlp p:first-child {
    width: 88%;
    padding-right: 2rem;
    text-align: right;
    font-family: 'Gotham Bold', 'Arial', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    color: #474747;
}

.osumlist .osum_ttlp p:last-child {
    width: 12%;
    margin-top: -1.8rem;
    font-family: 'Gotham Bold', 'Arial', sans-serif;
    font-weight: 700;
    font-size: 3.6rem;
    color: #474747;
}

.osumlist .osum_ttlp p:last-child > sup {
    top: -1.2em;
    right: 2px;
    font-size: 1.4rem;
    font-weight: 400;
    color: #a1a1a1;
}