.set-mp-details {
    padding-top: 35px;
    padding-bottom: 25px;
}

.set-mp-details .route-back {
    position: absolute;
    top: 0;
    left: 20px;
    z-index: 10;
    display: inline-block;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.2s linear;
}

.set-mp-details .route-back:hover {
    transform: scale(1.25);
}

.set-mp-details .route-back > i {
    color: #f77316;
}

.set-mp-details .day-card {
    margin: 15px 10px;
    padding: 15px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 1px 6px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
    transition: background-color 0.3s ease-in;
}

.set-mp-details .day-card:hover {
    background-color: #fbfbfb;
}

.set-mp-details .day-name {
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.set-mp-details .day-devider {
    position: relative;
    overflow: hidden;
}

.set-mp-details .day-devider::after {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 200px;
    display: block;
    background-color: rgba(236, 102, 8, 0.6);
    content: '';
    transform: translateX(-30px);
    transition: transform 0.3s ease-in 0.1s;
}

.set-mp-details .day-card:hover .day-devider::after {
    transform: translateX(0);
}

.set-mp-details .day-nametext {
    color: #ec6608;
}

.set-mp-details .table > thead > tr > th,
.set-mp-details .table > tbody > tr > td {
    padding: 10px 0;
}

.set-mp-details .table > tbody > tr:last-child > td {
    padding-bottom: 0;
}

.set-mp-details .table > thead > tr > th {
    font-weight: 400;
    color: #757575;
    border-bottom: 1px solid #ddd;
}

.set-mp-details .table > tbody > tr > td {
    border: none;
}

.mpinfo-card {
    width: 500px;
    margin: 0 auto 25px;
    padding: 25px;
    border-radius: 6px;
    box-shadow: 0 1px 6px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}

.mpinfo-card .upper-sec {
    position: relative;
    margin-bottom: 25px;
    padding-bottom: 25px;
}

.mpinfo-card .upper-sec::after {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    display: block;
    background-color: #ccc;
    content: '';
}

.mpinfo-card .info-header,
.mpinfo-card .info-numbers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.mpinfo-card .info-header {
    margin-bottom: 10px;
}

.mpinfo-card .info-header h2 {
    flex: 1;
    font-size: 22px;
    color: #ec6608;
    word-break: break-word;
}

.mpinfo-card .info-type p {
    color: #ec6608;
}

.mpinfo-card .info-description {
    margin-bottom: 10px;
}

.mpinfo-card .info-description p {
    font-size: 14px;
}

.mpinfo-card .numbers-block {
    flex: 1 0 33.33%;
}

.mpinfo-card .numbers-heading {
    font-weight: 700;
    font-size: 14px;
}

.mpinfo-card .numbers-number {
    padding-left: 15px;
    font-weight: 700;
    color: #ec6608;
}
