.akly_mp.mp_wrapper {
  margin-left: 180px;
}

@media only screen and (max-width: 600px) {
  .akly_mp.mp_wrapper {
    margin-left: 0
  }
}

.akly_mp .mp_content {
  padding: 35px 25px 25px 35px;
  overflow-x: hidden;
}

@media only screen and (max-width: 600px) {
  .akly_mp .mp_content {
    padding: 15px 10px 10px 15px;
  }
}

.akly_mp .mp_heading_mb {
  margin-bottom: 1.563em;

  font-size: 1.6rem;
}