.akly_navigbar.navigbar {
  margin-left: 180px;
}

@media only screen and (max-width: 600px) {
  .akly_navigbar.navigbar {
    margin-left: 0;
  }
}

.akly_navigbar .navigbar_layout {
  height: 60px;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .akly_navigbar .navigbar_layout {
    height: 35px;
  }

}

.akly_navigbar .navigbar_style {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

.akly_navigbar .navigbar_content {
  padding-left: 1rem;
}

.akly_navigbar .navigbar_icon {
  margin-top: 15px;
  float: left;
}

@media only screen and (max-width: 600px) {
  .akly_navigbar .navigbar_icon {
    margin-top: 5px;
  }
}

.akly_navigbar .navigbar_hamburger {
  height: 39px;
  width: 40px;
}

@media only screen and (max-width: 600px) {
  .akly_navigbar .navigbar_hamburger {
    height: 30px;
    width: 30px;
  }

}

.akly_navigbar .navigbar_hamburger > svg, .akly_navigbar .navigbar_downarrow > svg, .akly_navigbar .navigbar_logouticon > svg {
  height: 100%;
  width: 100%;

  cursor: pointer;
}

.akly_navigbar .navigbar_downarrow > svg{
    fill: #454545;
}

.akly_navigbar .navigbar_hamburger > svg,  .akly_navigbar .navigbar_logouticon > svg  {
    fill: #ec6608;
}

.akly_navigbar .navigbar_profile_logout_layout {
  float: right;
}

.akly_navigbar .navigbar_profilebox {
  border-right: 1px solid #ccc;
}

@media only screen and (max-width: 600px) {
  .akly_navigbar .navigbar_profilebox {
    border-left: none;
    border-right: none;
  }
}

.akly_navigbar .akly_navigbar_profilebox {
  display: inline-block;

  vertical-align: top;
}

.akly_navigbar .navigbar_profilebox:hover {
  opacity: 0.8;
  cursor: pointer;
}

.akly_navigbar .navigbar_proimage {
  display: inline-block;

  vertical-align: middle;
}

@media only screen and (min-width: 600px) {
  .akly_navigbar .navigbar_proimage {
    padding-top: 0.5rem;
    vertical-align: bottom;
  }
}

.propic_rbi {
  height: 50px;
  width: 50px;
  overflow: hidden;

  border: 1px solid #ccc;
  border-radius: 100%;
}

@media only screen and (max-width: 600px) {
  .propic_rbi {
    height: 35px;
    width: 35px;
  }
}

.propic_rbi > img {
  height: 100%;
  width: 100%;
  display: block;
}

.akly_navigbar .navigbar_proname {
  display: inline-block;
  margin-left: 0.313em;

  font-size: 1.6rem;

  vertical-align: middle;
}

@media only screen and (max-width: 450px) {
  .akly_navigbar .navigbar_proname {
    display: none;
  }
}

.akly_navigbar .navigbar_proname > p {
  font-size: 1.6rem;
  color: #454545;
}

@media only screen and (max-width: 600px) {
  .akly_navigbar .navigbar_proname > p {
    font-size: 1.4rem;
    color: #454545;
  }
}

.akly_navigbar .navigbar_dropdown {
  display: inline-block;
  margin-top: 0.73em;

  font-size: 1.6rem;

  vertical-align: middle;
}

@media only screen and (max-width: 600px) {
  .akly_navigbar .navigbar_dropdown {
    margin-top: 0.53em;
  }
}

.akly_navigbar .akly_navigbar_profilebox > .dropdown > .dropdown-menu {
  top: 97%;

  width: 100%;

  border-color: #ccc;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: none;

  opacity: 0;
  transform: translateY(-5%);
}

.akly_navigbar .akly_navigbar_profilebox > .dropdown.open > .dropdown-menu {
  animation: customBS3DropdownAnimation 0.3s ease-in 0.1s forwards;
}

.akly_navigbar .dropdown-menu li > a:hover {
  background-color: #ececec;
}

.akly_navigbar .dropdown-menu li > a span {
  font-size: 1.6rem;
  color: #454545;
}

@media only screen and (max-width: 600px) {
  .akly_navigbar .dropdown-menu li > a span {
    font-size: 1.4rem;
  }
}

.akly_navigbar .navigbar_downarrow, .akly_navigbar .navigbar_logouticon {
  height: 35px;
  width: 35px;
}

@media only screen and (max-width: 600px) {
  .akly_navigbar .navigbar_downarrow, .akly_navigbar .navigbar_logouticon {
    height: 25px;
    width: 25px;
  }
}

.akly_navigbar .navigbar_logout {
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;

  vertical-align: top;
}

@media only screen and (max-width: 600px) {
  .akly_navigbar .navigbar_logout {
      padding-top: 10px;
  }
}

@keyframes customBS3DropdownAnimation {
  0%   {
    opacity: 0;
    transform: translateY(-5%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}