.akly_sidebar .sidebar_layout {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;

    height: 100%;
}

@media only screen and (max-width: 600px) {
  .akly_sidebar .sidebar_layout {
    transform: translateX(-100%);
  }
}

.akly_sidebar .sidebar_width {
    width: 180px;
}

.akly_sidebar .sidebar_style {
    background-color: #fff;
    border-right: 1px solid #ccc;
}

.akly_sidebar.sidebar .ctrlof {
    height: 100%;
    overflow-y: scroll;
}

.akly_sidebar .sidebar_content {
  padding-top: 2.5rem;
}

.akly_sidebar .sidebar_logo {
  height: 60px;
  width: 102px;
  margin: 0 auto 0;
}

.akly_sidebar .sidebar_logo img {
  height: 100%;
  width: 100%;
  display: block;
}

.akly_sidebar .sidebar_menu {
  margin-top: 6.250em;

  font-size: 1.6rem;
}

.akly_sidebar .sidebar_menuitems li > a {
  padding: 0.313em 0 0.313em 2.188em;
  display: block;

  font-size: 1.6rem;

  background-color: #fff;

  transition: background-color 0.3s ease-in 0.1s;
}

.akly_sidebar .sidebar_menuitems li > a:hover {
  background-color: #ececec;

  text-decoration: none;
}

.akly_sidebar .sidebar_menuitems li > a:focus {
  background-color: #ec6608;
  text-decoration: none;
}

.akly_sidebar .sidebar_menuitems li > a span {
  font-weight: 400;
  font-size: 1.8rem;
  color: #ec6608;

  transition: color 0.3s ease-in 0.1s;
}

.akly_sidebar .sidebar_menuitems li > a:focus span {
  color: #fff;
}

/*submenu css*/

.akly_sidebar .akly_sidebar_submenu {
    margin-bottom: 0;
}

.akly_sidebar_submenu .akly_sidebar_submenuitems li {
    position: relative;
}

.akly_sidebar_submenu .akly_sidebar_submenuitems li > a {
    position: relative;
    background-color: #f6f6f6;
}