.sidebar_slideout {
  animation: sidebarSlideOut 0.3s ease-out 0.1s forwards;
}

.navigbar_slideleft {
  animation: navigbarMpSlideLeft 0.3s ease-out 0.1s forwards;
}

.mp_slideleft {
  animation: navigbarMpSlideLeft 0.3s ease-out 0.1s forwards;
}

.sidebar_slidein {
  animation: sidebarSlideIn 0.2s ease-out forwards;
}

.navigbar_slideright {
  animation: navigbarMpSlideRight 0.2s ease-out forwards;
}

.mp_slideright {
  animation: navigbarMpSlideRight 0.2s ease-out forwards;
}

.sidebar_mobislideout {
  animation: sidebarSlideOut 0.3s ease-out forwards;
}

.navigbar_mobislideleft {
  animation: navigbarMpSlideLeft 0.3s ease-out forwards;
}

.mp_mobislideleft {
  animation: navigbarMpSlideLeft 0.3s ease-out forwards;
}

.sidebar_mobislidein {
  animation: sidebarSlideIn 0.2s ease-out 0.1s forwards;
}

.navigbar_mobislideright {
  animation: navigbarMpSlideRight 0.2s ease-out 0.1s forwards;
}

.mp_mobislideright {
  animation: navigbarMpSlideRight 0.2s ease-out 0.1s forwards;
}

@keyframes sidebarSlideOut {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes navigbarMpSlideLeft {
  0% {
    margin-left: 180px;
  }

  100% {
    margin-left: 0;
  }
}

@keyframes sidebarSlideIn {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes navigbarMpSlideRight {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: 180px;
  }
}