@media (max-width:1180px) {
  .bmi-container {
    width: 98%;
  }
  .animate .bmi-container_animate {
    width: 98%;
  }
  .header h2 {
    width: 98%;
    margin: 0 auto;
  }
  .measurement {
    padding: 0 20px;
    width: 90%;
  }
}
@media (max-width:991px) {
  .box.box3 .meal-desc {
    width: 90%;
  }
  .box.box3 .gd {
    margin: auto;
    width: 90%;
  }
}
@media (max-width:767px) {
  .bmi-container {
    width: 96%;
  }
  .mainmodal h3 {
    display: table;
    font-size: 22px;
    padding: 0 0 10px;
    width: 100%;
  }
  .mainmodal a.close {
    right: 10px;
    top: 5px;
  }
  .mainmodal p {
    padding: 0 0 10px;
  }
  .mainmodal {
    top: 20px !important;
    left: 2% !important;
    min-height: 0;
    padding: 0 10px 20px;
    width: 95%;
  }
  .box, .box1 {
    width: 100%;
    min-height: 0;
    height: auto;
  }
  .box p {
    padding: 20px 0;
  }
  p.txt-align {
    padding: 15px 10px 0;
  }
  .box a {
    margin: 0;
    position: static;
  }
  .measurement {
    float: left;
    height: auto;
    margin: 20px 0 0;
    padding: 0 15px;
    width: 100%;
  }
  .both-buttons {
    position: static;
  }
  .button-back, .button-next {
    float: left;
    font-size: 14px;
    margin: 0 10px 15px;
    padding: 10px 20px;
  }
  .header h2 {
    font-size: 40px;
    margin: 0 auto;
    padding: 0;
    width: 96%;
  }
  .measurement ul li ul {
    width: 55%;
  }
  .box p.spacing {
    padding: 20px 0 !important;
  }
  .box1-content p {
    padding-left: 10px;
    padding-right: 10px;
  }
  .dot_slider_bottom {
    float: left;
    width: 100%;
    position: static;
    margin-top: 10px;
  }
  .box ul {
    width: 100%;
  }
  .animate .bmi-container_animate {
    width: 96%;
  }
  .animate .heading p {
    font-size: 25px;
  }
  .box.box3 .gd {
    padding: 0 10px;
  }
  .box.box3 .top-title {
    padding: 30px 0;
  }
  .box.box3 a.go-home-btn {
    display: table;
    margin: 0 auto 30px;
  }
  .box1.box-3 .slider-images {
    padding-top: 0;
  }
  .hr-slider {
    min-height: 0;
  }
  .both-buttons a.add-to-btn {
    margin: 20px 0;
  }
  .box ul li {
    width: 100%;
  }
  .box.box3 .top-title {
    font-size: 25px;
  }
  .box.box3 .gd {
    padding: 0 15px;
  }
  .box.box3 .meal-desc {
    width: 90%;
  }
}