.camenu-wrapper {
    position: relative;
}

.camenu-sidebar {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 600;
    width: 200px;
    max-width: 200px;
    background-color: transparent;
    border-right: 1px solid #ebeaea;
}

.camenu-sidebar .camenu-sidebar-content {
    height: 100vh;
    padding-top: 3.5rem;
}

.camenu-sidebar .camenu-filter-box {
    border-bottom: 1px solid #eee;
}

.camenu-sidebar .camenu-filter-box-content {
    padding: 0 1.5rem 1.5rem;
    overflow: hidden;
}

.camenu-sidebar .camenu-selectall {
    display: inline-block;
}

.camenu-sidebar .camenu-toggle-indicator {
    margin-top: 0.5rem;
    float: right;
    cursor: pointer;
}

.camenu-sidebar .camenu-selectall-heading {
    font-size: 1.5rem;
    color: #3e3e3e;
}

.camenu-sidebar .camenu-toggle-icon {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    display: inline-block;
    text-align: center;
    color: #757777;
    border: 1px solid #ebeaea;
    border-radius: 4px;
}

.camenu-sidebar .camenu-checkbox {
    margin-top: 0;
    margin-bottom: 0;
}

.camenu-sidebar .camenu-checkbox label {
    padding-left: 0;
    font-size: 1.2rem;
    font-weight: 700;
    color: #cbcbcb;
}

.camenu-sidebar .camenu-checkbox input[type="checkbox"] {
    margin-top: 2px;
    margin-left: 8px;
}

.camenu-sidebar .camenu-categories {
    padding: 0 1.5rem;
}

.camenu-sidebar .camenu-categ {
    padding: 1.5rem 0;
}

.camenu-sidebar .camenu-categ:hover {
    cursor: pointer;
}

.camenu-sidebar .camenu-categ:not(:last-child) {
    border-bottom: 1px dashed #dedede;
}

.camenu-sidebar .camenu-categ-container {
    display: table;
}

.camenu-sidebar .camenu-categ-icon, .camenu-sidebar .camenu-categ-name {
    display: table-cell;
}

.camenu-sidebar .camenu-categ-icon {
    width: 3.5rem;
}

.camenu-sidebar .camenu-categ-icon > img {
    height: 2rem;
    width: 2.4rem;
}

.camenu-sidebar .camenu-categ-name {
    font-size: 1.4rem;
    font-weight: 700;
    color: #c0bfbf;
}

.camenu-card-wrapper {
    width: calc(100% - 200px);
    margin-left: 200px;
    padding: 3.5rem 3rem 0;
}

.camenu-sidebar-collapsed {
    width: 60px;
    max-width: 60px;
}

.camenu-sidebar-collapsed .camenu-selectall, .camenu-sidebar-collapsed .camenu-categ-name {
    display: none;
}

.camenu-sidebar-collapsed .camenu-toggle-indicator {
    float: none;
}

.camenu-sidebar-collapsed .camenu-categ:not(:last-child) {
    border-bottom: none;
}

.camenu-card-wrapper-collapsed {
    width: calc(100% - 60px);
    margin-left: 60px;
}