.caprof .caprof-dtls {
    padding-top: 4rem;
    display: flex;
}

.caprof .caprof-orders, .caprof .caprof-acdtls {
    width: 50%;
}

.caprof .caprof-orders-content {
    padding-top: 1.5rem;
}

.caprof-imgname .caprof-img > img {
    height: 16.8rem;
    width: 16.8rem;
    border: 1px solid #fff;
    border-radius: 100%;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
}

.caprof-imgname .caprof-name {
    width: auto;
    padding-left: 1.5rem;
    vertical-align: middle;
}

.caprof-imgname .caprof-name > h1 {
    font-weight: 400;
    font-size: 3.6rem;
    color: #4e4e4e;
}

.caprof-imgname .caprof-location {
    font-size: 1.8rem;
    color: #a4a4a4;
}

.caprof .caprof-pstorders {
    margin-top: 4rem;
}

.caprof-pstorders .caprof-pstorders-heading, .caprof-table > thead > tr th, .caprof-table > tbody > tr td {
    font-family: 'Gotham Bold', 'Arial', sans-serif;
    font-weight: 700;
    color: #a4a4a4;
}

.caprof-pstorders .caprof-pstorders-heading {
    margin-bottom: 1rem;
    font-size: 1.8rem;
}

.caprof-table > thead > tr th {
    font-size: 1.4rem;
    border-bottom: none;
}

.caprof-table > tbody > tr td {
    font-size: 1.2rem;
    border-top: none;
}

.caprof-table > thead > tr th:first-child, .caprof-table > tbody > tr td:first-child {
    max-width: 7rem;
}

.caprof-table > tbody > tr td:first-child {
    padding-left: 0;
    text-align: center;
}

.caprof-table .order-type {
    width: 16rem;
    max-width: 16rem;
}

.caprof-table .collapse-indicator {
    height: 1.5rem;
    width: 1.5rem;
    display: inline-block;
}

.caprof-table .collapse-indicator::before {
    content: '';
    width: 0;
    height: 0;
    display: inline-block;
    margin-right: 1.5rem;
    cursor: pointer;
}

.caprof-table .icon-not-collapsed::before {
    border-top: 5.5px solid transparent;
    border-right: 7px solid #a4a4a4;
    border-bottom: 5.5px solid transparent;
}

.caprof-table .icon-collapsed::before {
    border-left: 5.5px solid transparent;
    border-top: 7px solid #a4a4a4;
    border-right: 5.5px solid transparent;
}

.od-orders.od-orders {
    padding-top: 1.5rem;
}

.od-orders .od-singleorder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.od-orders .od-singleorder:not(:last-child) {
    padding-bottom: 1rem;
}

.od-orders .od-singleorder-name {
    flex: 1;
    margin-right: 0.5%;
}

.caprof .caprof-acdtls-content {
    padding-top: 3rem;
    padding-left: 5rem;
}

.caprof .caprof-acdtls {
    border-left: 1px solid rgba(151, 151, 151, 0.15);
}

.caprof-acdtls .caprof-acdtls-heading {
    font-size: 1.4rem;
    color: #4e4e4e;
}

.caprof-acdtls .caprof-acdtls-form {
    margin-top: 1.5rem;
}

.caprof-acdtls .ca_geninput:not(.caprof-select2) {
    width: 40%;
    max-width: 40%;
    margin-bottom: 2rem;
}

.caprof-select2 .select2-container {
    width: 50% !important;
}

.caprof-acdtls .caprof-select2 {
    margin-top: 4rem;
}

.caprof .caprof-savebtn {
    margin-top: 4rem;
}

.caprof .ca_input-group_addon + input[type='password'] {
    padding-left: 1.6rem;
}

.caprof .caprof-uploadbtn {
    width: 220px;
    margin-bottom: 15px;
}