.osumlist-od {
    width: 90%;
}

.osumlist-od .caod_singlefood {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 1.2rem 0 1.5rem;
}

.osumlist-od .caod_singlefood:not(:nth-last-child(2)) {
    border-bottom: 1px dashed #d0d0d0;
}

.osumlist-od .caod_singlefood:not(:last-child) {
    margin-bottom: 1.5rem;
}

.osumlist-od .caod_singlefood .fd {
    width: 30%;
}

.osumlist-od .caod_singlefood .fd,
.osumlist-od .caod_singlefood .cal_summary,
.osumlist-od .caod_singlefood .osum_price,
.osumlist-od .caod_singlefood .odfd-cancel {
    align-self: center;
}

.osumlist-od .caod_singlefood .fdq-select {
    width: 25%;
}

.osumlist-od .caod_singlefood .cal_summary {
    width: 25%;
}

.osumlist-od .caod_singlefood .osum_price {
    width: 20%;
}

.osumlist-od .caod_singlefood .odfd-cancel {
    width: 5%;
}

.osumlist-od .odfd-cancel img {
    cursor: pointer;
}

.osumlist-od .fd-img img {
    height: 4.2rem;
    width: 4.2rem;
}

.osumlist-od .fd-name {
    vertical-align: middle;
}

.osumlist-od .fd-name p {
    font-family: 'Gotham Bold', 'Arial', sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    color: #404040;
}

.osumlist-od .fdq-select .select2 {
    width: 65px !important;
}

.osumlist-od .fdq-select .select2-container .select2-selection--single {
    height: 3.129em;
    border: 1px solid #d7d7d7;
}

.osumlist-od .fdq-select .select2-container .select2-selection--single .select2-selection__rendered {
    font-size: 1.6rem;
    font-weight: 700;
    color: #696969;
    line-height: 2.829em;
}

.osumlist-od .fdq-select .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 3.129em;
}

.osumlist-od .fdq-select .select2-container--default .select2-selection--single .select2-selection__arrow b {
    margin-left: -10px;
    border-color: #9a9a9a transparent transparent transparent;
}

.osumlist-od .cal_text p {
    font-size: 1.4rem;
    color: #404040;
}

.osumlist-od .osum_ttlp {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 4rem 1.5rem 0;
}

.osumlist-od .osum_ttlp:before {
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    width: 100%;
    display: block;
    background-color: #e0e0e0;
    content: '';
}

.osumlist-od .osum_ttlp p:first-child {
    width: 90%;
    padding-right: 2rem;
    text-align: right;
    font-family: 'Gotham Bold', 'Arial', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    color: #474747;
}

.osumlist-od .osum_ttlp p:last-child {
    width: 10%;
    margin-top: -1.8rem;
    font-family: 'Gotham Bold', 'Arial', sans-serif;
    font-weight: 700;
    font-size: 3.6rem;
    color: #474747;
}

.osumlist-od .osum_ttlp p:last-child > sup {
    top: -1.2em;
    right: 2px;
    font-size: 1.4rem;
    font-weight: 400;
    color: #a1a1a1;
}