.subscription-mp .subscription-type {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    color: #ed680c;
}

.subscription-mp .delivery-id {
    padding-bottom: 25px;
    font-size: 14px;
}

.subscription-mp .subscription-icon-circle {
    height: 25px;
    width: 25px;
    line-height: 23px;
    text-align: center;
    background-color: #fff;
    border: 1px solid;
    border-radius: 100%;
    cursor: pointer;
}

.subscription-mp .subscription-icon-ok {
    border-color: #ed731f;
}

.subscription-mp .subscription-icon-remove {
    border-color: #dd4248;
}

.subscription-mp .subscription-icon {
    font-size: 12px;
}

.subscription-icon-ok .subscription-icon {
    color: #ed731f;
}

.subscription-icon-remove .subscription-icon {
    color: #dd4248;
}

.no-edit-order {
    background-color: #f3f3f3;
}

.no-edit-order .cadp_madd {
    display: none;
}
