@font-face {
    font-family: customicons;
    src: url(../../fonts/customicons/customicons.eot?l6u5hn);
    src: url(../../fonts/customicons/customicons.eot?l6u5hn#iefix) format("embedded-opentype"), url(../../fonts/customicons/customicons.ttf?l6u5hn) format("truetype"), url(../../fonts/customicons/customicons.woff?l6u5hn) format("woff"), url(../../fonts/customicons/customicons.svg?l6u5hn#customicons) format("svg");
    font-weight: 400;
    font-style: normal;
}

.fp-customicon:after, .fp-customicon:before {
    font-family: customicons!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}

.fp-icon-bell2:before {
    content: "";
}

.fp-icon-chart:before {
    content: "";
}

.fp-icon-car:before {
    content: "";
}

.fp-icon-play3:before {
    content: "";
}

.fp-icon-history:before {
    content: "";
}

.fp-icon-dot:before {
    content: "";
}

.fp-icon-next:before {
    content: "";
}

.fp-icon-prev:before {
    content: "";
}

.fp-icon-search:before {
    content: "";
}

.fp-icon-bell:before {
    content: "";
}

.fp-icon-ring:before {
    content: "";
}

.fp-icon-arrow-down:before {
    content: "";
}

.fp-icon-arrow-up:before {
    content: "";
}

.fp-icon-dropdown:before {
    content: "";
}

.fp-text-center {
    text-align: center;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url(../../fonts/proxima_nova/ProximaNova-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url(../../fonts/proxima_nova/ProximaNova-Bold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Gotham;
    src: url(../../fonts/gotham/Gotham-Book.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Gotham;
    src: url(../../fonts/gotham/Gotham-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}

*, ::after, ::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

.fp-content, html {
    -webkit-box-sizing: border-box;
    min-height: 100%;
}

html {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    /*overflow-x: hidden;*/
    font-family: sans-serif;
    font-size: .625rem;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: "Proxima Nova", sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #928987;
    background-color: #fcfcfc;
    width: 100%;
    min-width: 768px;
    min-height: 100%;
    /*overflow-x: scroll;*/
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h1 {
    font-size: 2rem;
    display: inline;;
}

h2 {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
}

h3:before, li:before {
    font-family: customicons!important;
    font-weight: 400;
    text-transform: none;
    line-height: 1;
    position: absolute;
    left: 0;
    content: "";
    speak: none;
    font-style: normal;
    font-variant: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (max-width:991px) {
    h2 {
        font-size: 1.6rem;
    }
}

h3 {
    font-size: 1.8rem;
    padding: 1.5rem 0 1.5rem 2rem;
    margin: 1.7rem 0;
    border-top: 1px solid #EFEFEF;
    border-bottom: 1px solid #EFEFEF;
    color: #5A5A5A;
}

h3:before {
    top: 50%;
    margin-top: -.4rem;
    font-size: .8rem;
    color: #5d9be4;
    width: .8rem;
    height: .8rem;
    display: none;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    padding-left: 2rem;
    margin-bottom: 1.5rem;
}

.fp-main, .fp-wrapper {
    padding: 0;
    /*height: 100%;*/ /* monkey patching */
}

li:before {
    top: 5px;
    font-size: 6px;
    color: #fe8f39;
}

.fc-day-number, .fp-fooditem__number_orderedfood, .fp-lastmonth__number, .fp-ordersnumber {
    font-family: Gotham, sans-serif;
}

a, a:focus, a:hover {
    color: #a6a8ab;
}

a:focus, button:focus {
    outline: 0;
}

button {
    background: 0 0;
    border: none;
}

.fp-wrapper {
    width: 100%;
}

.fp-main {
    min-height: 100%;
}

.fp-content {
    height: 100%;
    padding-top: 8.2rem;
    position: relative;
    box-sizing: border-box;
    width: 100%;
}

.fp-play, .fp-play:before {
    position: absolute;
    top: 50%;
    left: 50%;
}

@media (max-width:991px) {
    .fp-content {
        padding-top: 62px;
    }
}

.fp-play {
    display: block;
    width: 6.4rem;
    height: 6.4rem;
    margin-top: -3.2rem;
    margin-left: -3.2rem;
    border: .3rem solid #fff;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-color: #fe8f39;
    -webkit-box-shadow: 0 5px 4px 0 rgba(0, 0, 0, .5);
    box-shadow: 0 5px 4px 0 rgba(0, 0, 0, .5);
}

.fp-play:before {
    content: '\ea1c';
    color: #fff;
    font-size: 2.5rem;
    margin-top: -1.2rem;
    margin-left: -1rem;
}

.fp-dropdown-button {
    height: 3rem;
    line-height: 3rem;
    padding: 0 2.9rem 0 1.9rem;
    border: 1px solid #ED731F;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    font-weight: 600;
    color: #ED731F;
    position: relative;
}

.fp-dropdown-button:after {
    position: absolute;
    right: 1.2rem;
    font-size: .8rem;
    top: -webkit-calc(50% - .4rem);
    top: calc(50% - .4rem);
    content: "";
}

.fp-hdropdown-pos {
    position: absolute;
    top: 115px;
    left: 50px;
    z-index: 98;
}

.fp-hdropdown-pos-calendar {
    top: 105px;
    z-index: 95;
}

.fp-hdropdown {
    display: inline-block;
}

.fp-hdropdown__row {
    padding-left: 0;
    margin: 0;
}

.fp-hdropdown__row:before {
    content: '';
}

.fp-proceed-button {
    display: block;
    width: 18rem;
    height: 4rem;
    line-height: 4rem;
    border: 1px solid #4A90E2;
    -webkit-border-radius: 10rem;
    border-radius: 10rem;
    text-align: center;
    color: #4A90E2;
    text-transform: uppercase;
    background-color: #FFF;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
}

.fp-block-title, .fp-dropdown, .fp-filter, .fp-fooditem__number, .fp-fooditem__title, .fp-head__dropdown, .fp-head__logo, .fp-head__title, .fp-notification__icon, .fp-preparing-button, .fp-proceed-button_relative {
    display: inline-block;
}

.fp-proceed-button_relative {
    position: relative;
}

.fp-proceed-button:focus, .fp-proceed-button:hover {
    color: #4A90E2;
    text-decoration: none;
}

.fp-preparing-button {
    height: 2.4rem;
    line-height: 2.4rem;
    padding: 0 2.8rem;
    color: #fff;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    margin-top: .3rem;
}

.fp-cancel-button, .fp-ready-button {
    height: 4rem;
    line-height: 4rem;
    text-transform: uppercase;
}

.fp-preparing-button:focus, .fp-preparing-button:hover {
    color: #fff;
    text-decoration: none;
}

.fp-ready-button {
    position: absolute;
    right: 0;
    border: 1px solid #ED731F;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    color: #ED731F;
    background-color: #FFF;
    padding: 0 3.2rem;
    z-index: 5;
    font-size: 1.6rem;
}

.fp-ready-button:focus, .fp-ready-button:hover {
    color: #ED731F;
    text-decoration: none;
}

.fp-ready-button_modal {
    position: relative;
    font-size: 1.3rem;
}

.fp-cancel-button {
    color: #928987;
    font-size: 1.3rem;
    margin-left: 2rem;
}

.fp-head {
    background-color: #FFF;
    height: 8.2rem;
    padding-top: 25px; /* monkey patching */
    line-height: 8.2rem;
    border-bottom: .1rem solid #E9E9E9;
    padding-right: 5.5rem;
    position: fixed;
    top: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 99;
    text-align: center;
}

@media (min-width:992px) {
    .fp-head {
        padding-left: -webkit-calc(4.5rem + 8.33333%);
        padding-left: calc(4.5rem + 8.33333%);
    }
}

@media (max-width:991px) {
    .fp-head {
        padding-left: -webkit-calc(2rem + 8.33333%);
        padding-left: calc(2rem + 8.33333%);
        padding-right: 2.5rem;
        height: 6.2rem;
        line-height: 6.2rem;
    }
}

.fp-head__title {
    height: inherit;
    line-height: inherit;
    float: left;
}

.fp-head__dropdown {
    float: left;
    margin-left: 2rem;
}

.fp-head__search {
    display: inline-block;
    position: relative;
    float: right;
    margin-right: 4.6rem;
}

.fp-head__notification {
    height: inherit;
    line-height: inherit;
    position: relative;
    float: right;
    cursor: pointer;
}

@media (max-width:991px) {
    .fp-head__search {
        margin-right: 2rem;
    }
    .fp-head__notification {
        line-height: 8rem;
    }
}

.fp-search__field {
    width: 21.4rem;
    height: 4rem;
    background-color: #F7F7F7;
    border: none;
    -webkit-border-radius: 10rem;
    border-radius: 10rem;
    padding-left: 2rem;
    font-size: 1rem;
}

.fp-search__icon {
    position: absolute;
    font-size: 1.5rem;
    color: #a2a2a2;
    right: 1.7rem;
    top: 12px; /* monkey patching [was 0] */
}

.fp-notification__icon {
    position: relative;
    font-size: 2rem;
    x-text-shadow: 0 0 .1rem #f68d2b;
    line-height: 1;
    color: #f68d2b;
}

.fp-notification__number {
    font-size: .8rem;
    position: absolute;
    top: -.8rem;
    right: -1.35rem;
    width: 1.8rem;
    height: 1.8rem;
    line-height: 1.8rem;
    background-color: #D5243C;
    color: #fff;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    text-align: center;
}

.fp-menu {
    background-color: #FFF;
    -webkit-box-shadow: 2px 0 45px 0 rgba(0, 0, 0, .05);
    box-shadow: 2px 0 45px 0 rgba(0, 0, 0, .05);
    min-height: 100%;
    padding: 0 0 8.2rem;
    position: fixed;
    z-index: 100;
}

.fp-menu-icon__box {
    height: 100%;
}

.fp-menu-icon__calendar, .fp-menu-icon__dashboard {
    width: 2.2rem;
    height: 2.2rem;
}

.fp-menu-icon__dashboardbox {
    line-height: 10rem;
}

@media (max-width:991px) {
    .fp-menu-icon__dashboardbox {
        line-height: 8rem;
    }
}

.fp-menu-icon__food, .fp-menu-icon__logout, .fp-menu-icon__orderlist, .fp-menu-icon__profile {
    width: 2.4rem;
    height: 2.4rem;
}

.fp-menu-icon__calendarbox {
    line-height: 9.6rem;
}

@media (max-width:991px) {
    .fp-menu-icon__calendarbox {
        line-height: 8rem;
    }
}

.fp-menu-icon__orderlistbox {
    line-height: 10.2rem;
}

@media (max-width:991px) {
    .fp-menu-icon__orderlistbox {
        line-height: 8.4rem;
    }
}

.fp-menu-icon__foodbox {
    line-height: 10.2rem;
}

@media (max-width:991px) {
    .fp-menu-icon__foodbox {
        line-height: 8.4rem;
    }
}

.fp-menu-icon__profilebox {
    line-height: 10.2rem;
}

@media (max-width:991px) {
    .fp-menu-icon__profilebox {
        line-height: 8.4rem;
    }
}

.fp-menu-icon__logoutbox {
    line-height: 10.2rem;
}

@media (max-width:991px) {
    .fp-menu-icon__logoutbox {
        line-height: 8.4rem;
    }
}

.fp-menu__icon {
    height: 8.2rem;
    width: 100%;
    padding-top: 30px; /* monkey patching */
    line-height: 8.2rem;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.fp-menu__icon:nth-child(1) {
    -webkit-box-shadow: 0 0 11px 0 rgba(0, 0, 0, .04);
    box-shadow: 0 0 11px 0 rgba(0, 0, 0, .04);
    border-bottom: 1px solid rgba(0, 0, 0, .02);
}

@media (max-width:991px) {
    .fp-menu__icon {
        height: 6.2rem;
    }
}

.fp-menu__icon_bottom {
    position: absolute;
    bottom: 0;
}

.fp-menu__icon:hover .fp-menu-icon__stroke, .fp-menu__icon_active .fp-menu-icon__stroke {
    stroke: #ED731F;
}

.fp-menu__icon:hover .fp-menu-icon__fill, .fp-menu__icon_active .fp-menu-icon__fill {
    fill: #FFCDBB;
}

.fp-menu__icon:hover:before, .fp-menu__icon_active:before {
    content: '';
    position: absolute;
    left: 0;
    top: -webkit-calc(50% - 18px);
    top: calc(50% - 18px);
    width: 3px;
    height: 36px;
    background-color: #ED731F;
    -webkit-box-shadow: 0 0 5px 0 rgba(237, 115, 31, .4), 2px 0 8px 0 rgba(237, 115, 31, .26);
    box-shadow: 0 0 5px 0 rgba(237, 115, 31, .4), 2px 0 8px 0 rgba(237, 115, 31, .26);
}

.fp-dropdown {
    width: 8.3rem;
    height: 2.4rem;
    border: .1rem solid #4A90E2;
    -webkit-border-radius: 10rem;
    border-radius: 10rem;
    font-weight: 600;
    text-align: center;
    color: #4A90E2;
}

.fp-dropdown__button {
    width: inherit;
    height: inherit;
    padding: 0 .9rem 0 0;
    margin: 0;
    position: relative;
}

.fp-dropdown__button:after {
    top: 0;
    line-height: 2.4rem;
    content: "";
    font-size: .6rem;
    position: absolute;
    right: 1rem;
}

.fp-block-title {
    font-size: 1.4rem;
    position: absolute;
    left: 0;
    top: 0;
    color: #4A4A4A;
}

.fp-block-title:before {
    content: "";
    font-size: .8rem;
    padding-right: 1.5rem;
}

.fp-title-block {
    position: relative;
    height: 2.4rem;
    margin-bottom: 2rem;
}

.fp-title-block:after {
    content: "";
    position: absolute;
    right: 0;
    height: inherit;
    line-height: 2.4rem;
    color: #ddd;
}

.fp-filter, .fp-pending__ordersnumber {
    position: relative;
}

.fp-full-width-block, .fp-half-width-block {
    padding: 0 1.5rem 1.5rem;
}

.fp-half-width-block:nth-child(even) {
    padding-left: 0;
}

@media (max-width:991px) {
    .fp-half-width-block:nth-child(even) {
        padding-left: 15px;
    }
}

.fp-filter__label {
    margin-right: .5rem;
}

.fp-ordersnumber {
    font-size: 5.5rem;
    line-height: 1;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

.fp-lastmonth {
    font-size: 1.3rem;
    color: #B7B2B1;
}

.fp-lastmonth__number {
    color: #928987;
}

.fp-dashboard {
    height: 100%;
    min-height: 100%;
}

.fp-dashboard__left, .fp-dashboard__right {
    background-color: #FCFCFC;
    height: 100%;
    padding: 0;
}

.fp-dashboard__right {
    border-left: .1rem solid #E9E9E9;
}

.fp-dashboard__block {
    padding: 2rem;
    background-color: #FFF;
    -webkit-box-shadow: 0 .2rem .5rem 0 rgba(0, 0, 0, .05);
    box-shadow: 0 .2rem .5rem 0 rgba(0, 0, 0, .05);
    -webkit-border-radius: .8rem;
    border-radius: .8rem;
}

.fp-orders {
    background-color: #FCFCFC;
    height: 100%;
    padding: 2rem;
}

.fp-orders__chart {
    margin-top: 2rem;
}

.fp-pending {
    background-color: #F7F7F7;
    height: 21.7rem;
    border-bottom: .1rem solid #E9E9E9;
    margin-bottom: 1.5rem;
}

.fp-pending__orders {
    position: relative;
    height: 100%;
    padding: 2rem;
}

.fp-pending__ordersnumber:before {
    font-size: 1.5rem;
    position: absolute;
    margin-left: -2rem;
    top: 50%;
    margin-top: -.75rem;
}

.fp-pending__ordersnumber_up:before {
    content: "";
    color: #5bd36f;
}

.fp-pending__ordersnumber_down:before {
    content: "";
    color: #d5243c;
}

.fp-pending__mealplan {
    height: 100%;
    position: relative;
    padding: 2rem;
}

.fp-pending__mealplan:after, .fp-pending__mealplan:before {
    content: "";
    position: absolute;
}

.fp-pending__mealplan:before {
    width: .2rem;
    top: 1rem;
    bottom: 1rem;
    left: 0;
    right: 50%;
    background: -webkit-gradient(linear, left top, left bottom, from(#f5f4f4), color-stop(50%, #eaeaea), to(#f5f4f4));
    background: -webkit-linear-gradient(top, #f5f4f4 0, #eaeaea 50%, #f5f4f4 100%);
    background: linear-gradient(to bottom, #f5f4f4 0, #eaeaea 50%, #f5f4f4 100%);
    -webkit-border-radius: 10rem;
    border-radius: 10rem;
}

.fp-statistics__title:before {
    color: #4e93e2;
}

.fp-statistics__dropdown {
    margin-right: 1.5rem;
}

.fp-statistics__dropdown:last-child {
    margin-right: 0;
}

.fp-fooditem {
    margin-bottom: 1.2rem;
    overflow: hidden;
}

.fp-fooditem__imagebox {
    width: 3.5rem;
    height: 3.5rem;
    float: left;
    overflow: hidden;
    position: relative;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    margin-right: 1.5rem;
}

.fp-fooditem__image {
    height: 100%;
    min-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.fp-fooditem__title {
    width: 16rem;
    font-size: 1.1rem;
}

@media (min-width:1100px) {
    .fp-fooditem__title {
        width: 18rem;
    }
}

.fp-fooditem__number {
    float: right;
    font-size: 1.3rem;
    height: 3.5rem;
    line-height: 3.5rem;
}

.fp-fooditem__number_orderedfood {
    color: #ff933f;
}

.fp-fooditem__number_orderedmealplan {
    color: #d62a41;
}

.fp-fooditem:last-child {
    margin-bottom: 0;
}

.fp-orderedfood__title:before {
    color: #ff933f;
}

.fp-orderedmealplan__title:before {
    color: #d62a41;
}
/* calendar css */
.fp-calendar {
    overflow-x: hidden;
}

.fc-header-toolbar {
    background-color: #FFF;
    -webkit-box-shadow: 0 .2rem 1.7rem 0 rgba(0, 0, 0, .1);
    box-shadow: 0 .2rem 1.7rem 0 rgba(0, 0, 0, .1);
    position: relative;
    z-index: 90;
    margin-bottom: 0!important;
}

.fc-center {
    width: 23.4rem;
    text-align: center;
    position: relative;
    height: 6.5rem;
    line-height: 6.5rem;
}

.fc-center h2 {
    color: #4A4A4A;
    font-size: 1.2rem;
    text-transform: none;
    font-weight: 400;
    height: 3.7rem;
    line-height: 6.7rem; /* monkey patching [was 3.7] */
    position: relative;
    display: inline;
    margin-left: 0!important;
    float: none!important;
    margin: 0 auto;
}

.fc-button {
    width: 3.7rem!important;
    height: 3.7rem!important;
    line-height: 3.4rem;
    border: .1rem solid #5d9be4;
    color: #5d9be4;
    -webkit-border-radius: 100%!important;
    border-radius: 100%!important;
    float: none;
    position: absolute!important;
    top: -webkit-calc(50% - 1.85rem);
    top: calc(50% - 1.85rem);
    background: 0 0;
}

.fc-prev-button {
    left: 0;
}

.fc-next-button {
    right: 0;
}

.fc-widget-header {
    border: none!important;
    height: 4.8rem;
    line-height: 4.8rem;
    text-transform: uppercase;
    font-size: 1.3rem;
    color: #4A4A4A;
    background-color: #FCFCFC;
}

.fc-day:hover {
    -webkit-box-shadow: 0 8px 13px 0 rgba(0, 0, 0, .09);
    box-shadow: 0 8px 13px 0 rgba(0, 0, 0, .09);
}

.fc-future, .fc-past, .fc-today {
    position: relative!important;
}

.fc-day-number {
    float: none;
    position: absolute;
    right: 1rem;
}

.fc-event {
    cursor: pointer;
}

.fc-content-skeleton {
    padding: 1rem 0!important;
}

.fc-day-grid-event {
    font-size: 1rem;
    background: 0 0;
    color: #B7B2B1;
    border: none;
    padding-left: 1.5rem;
}

.fc-day-grid-event:hover {
    color: #B7B2B1;
}

.fc-day-grid-event .fc-title:before {
    font-family: customicons!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\e908';
    width: .8rem!important;
    height: .8rem!important;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    color: #FF903A;
    margin-right: .5rem;
}

/* calendar css end */

.fp-recipe {
    padding: 2.5rem 2rem;
}

.fp-recipe__title {
    height: 5rem;
}

.fp-rtitle {
    padding: 0 2.5rem 2.5rem;
    border-bottom: .2rem solid #EFEFEF;
}

.fp-rtitle__text {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
    display: inline-block;
    float: left;
    color: #4A4A4A;
}

.fp-rtitle__time {
    display: inline-block;
    float: right;
}

.fp-rtitle__timebutton {
    display: inline-block;
    height: 2.4rem;
    line-height: 2.4rem;
    -webkit-border-radius: 10rem;
    border-radius: 10rem;
    padding: 0 1.6rem;
    background-color: #72a8e7;
    color: #fff;
    margin-left: 10px;
}

.fp-rtitle__timebutton:before {
    content: '\e94d';
    margin-right: .3rem;
}

.fp-rcontent {
    padding-top: 2rem;
    overflow: hidden;
}

.fp-rcontent__image {
    float: left;
    margin: 0 2rem 2rem 0;
    width: 51.5rem;
    height: 51.5rem;
    border: 2rem solid #fff;
    /*background-image: url(../../images/food2.jpg);      image background*/
    background-size: cover;
    background-position: center;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .05);
    -webkit-border-radius: 8px;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
}

.fp-food__row, .fp-ot__headblock {
    border-bottom: 1px solid #EFEFEF;
}

.fp-rcontent__image:hover .fp-rcontent__overlay {
    background-color: rgba(0, 0, 0, .3);
    -webkit-transition: .5s;
    transition: .5s;
}

@media (max-width:991px) {
    .fp-rcontent__image {
        width: 50%;
        height: 40rem;
    }
}

.fp-rcontent__overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    overflow: hidden;
}

.fp-rcontent__text {
    width: -webkit-calc(100% - 54rem);
    width: calc(100% - 74rem);
    float: left;
}

@media (max-width:991px) {
    .fp-rcontent__text {
        width: 46%;
    }
}

.fp-const {
    width: -webkit-calc(100% - 54rem);
    width: calc(100% - 74rem);
    float: left;
    font-style: italic;
}

.fp-const__item {
    position: relative;
    padding-left: 15px;
    margin-right: 1rem;
}

.fp-const__item:before {
    position: absolute;
    content: "";
    font-size: 4px;
    left: 0;
    top: 50%;
    margin-top: -2px;
    color: #fe8f39;
}

.fp-const__item_protein {
    padding-left: 2.5rem;
}

.fp-const__item_protein:before {
    content: "";
    font-size: 1.6rem;
    margin-top: -.8rem;
}

.fp-order {
    padding: 0 2rem;
}

.fp-order__header {
    height: 8rem;
    position: relative;
}

.fp-nav__item, .fp-order__date, .fp-order__nav {
    height: inherit;
    display: inline-block;
}

.fp-order__button {
    left: 18rem;
    top: 11rem;
}

.fp-order__nav {
    font-size: 1.8rem;
    margin: 0;
    margin-left: 10rem;
}

.fp-order__date {
    font-size: 1.4rem;
    position: absolute;
    right: 2rem;
    line-height: 8rem;
}

@media (max-width:991px) {
    .fp-const {
        width: 46%;
    }
    .fp-order__button {
        top: 8.5rem;
        left: 2rem;
    }
    .fp-order__date {
        right: 0;
    }
}

.fp-openpanel {
    background-color: #FFF;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .05);
    -webkit-border-radius: 8px;
    border-radius: 8px;
    /*padding: 2rem;*/
    margin-bottom: 1.5rem;
    cursor: pointer;
}

.fp-openpanel__header {
    position: relative;
}

.fp-byvanheader:after, .fp-ordersheader:after {
    position: absolute;
    content: '\e906';
    right: 0;
    color: #dcdcdc;
    top: -webkit-calc(50% - 6px);
    top: calc(50% - 6px);
    z-index: 4;
}

.fp-c-collapsed:after {
    content: '\e903'!important;
}

.fp-nav__item.active a:after, .fp-nav__item:before {
    content: '';
}

.fp-nav__item {
    margin: 0;
    line-height: 8rem;
}

.fp-nav__item:first-child {
    padding-left: 0;
}

.fp-nav__item a:focus, .fp-nav__item a:hover {
    text-decoration: none;
}

.fp-nav__item.active a {
    color: #ed731f;
    padding-bottom: 1rem;
    position: relative;
    display: inline-block;
}

.fp-nav__item.active a:after {
    position: absolute;
    display: block;
    height: 3px;
    width: 3.6rem;
    left: 50%;
    bottom: 2.7rem;
    margin-left: -1.8rem;
    background-color: #ED731F;
    -webkit-box-shadow: 0 0 5px 0 rgba(237, 115, 31, .4), 2px 0 8px 0 rgba(237, 115, 31, .26);
    box-shadow: 0 0 5px 0 rgba(237, 115, 31, .4), 2px 0 8px 0 rgba(237, 115, 31, .26);
}

.fp-food, .fp-modal {
    background-color: #FFF;
}

.fp-byvanheader, .fp-ordersheader {
    padding-left: 5rem;
}

.fp-byvanheader:before, .fp-ordersheader:before {
    position: absolute;
    content: "";
    font-size: 2.4rem;
    color: #ED731F;
    left: 0;
    top: 50%;
    margin-top: -1.2rem;
}

.fp-byvanheader__title, .fp-ordersheader__title {
    font-size: 1.6rem;
    color: #4A4A4A;
}

.fp-byvanheader__subtitle, .fp-ordersheader__subtitle {
    color: #B7B2B1;
}

.fp-ordersheader:before {
    content: "";
    font-size: 1.6rem;
    margin-top: -.8rem;
}

.fp-ordersheader__titlebox {
    display: inline-block;
    margin-right: 3rem;
    float: left;
}

.fp-preparing__header:before {
    color: #4A90E2;
}

.fp-byvancont, .fp-orderscont {
    margin-top: 1rem;
}

.fp-orderscont, .fp-ordersheader {
    overflow: hidden;
}

.fp-byvancont__table, .fp-orderscont__table {
    width: 100%;
}

.fp-orderscont {
    border-top: 1px solid #efefef;
    padding-top: 2rem;
}

.fp-orderscont__leftside {
    padding: 0 6.7rem 2rem 4.5rem;
    border-right: 1px solid rgba(0, 0, 0, .07);
}

@media (max-width:991px) {
    .fp-orderscont__leftside {
        padding: 0 2rem 2rem 0;
    }
}

.fp-orderscont__rightside {
    padding: 1.4rem 6rem;
}

@media (max-width:991px) {
    .fp-orderscont__rightside {
        padding: 1.4rem 2rem;
    }
}

.fp-orderscont__title {
    font-size: 1.4rem;
    color: #4A4A4A;
    margin-top: 2rem;
}

.fp-orderscont__title:first-child {
    margin-top: 0;
}

.fp-orderscont__container {
    text-align: left;
    max-width: 18rem;
    margin-bottom: 3rem;
}

.fp-ot__headblock {
    border-top: 1px solid #EFEFEF;
}

.fp-ot__headblock_noborder {
    border-top: none;
}

.fp-ot__header {
    height: 5rem;
    line-height: 5rem;
    color: #4A4A4A;
    font-weight: 400;
    font-size: 1.6rem;
}

.fp-ot__price, .fp-ot__qty {
    font-size: 1.3rem;
    font-family: Gotham, sans-serif;
}

.fp-ot__column {
    height: 5rem;
    padding: 1.5rem 0 0;
}

.fp-ot__qty {
    width: 10%;
    padding-right: 3rem;
    text-align: center;
}

.fp-ot__order {
    width: 80%;
}

.fp-ot__foodtitle {
    display: table-cell;
    height: 3.5rem;
    font-weight: 600;
    color: #979797;
    vertical-align: middle;
}

.fp-ot__price {
    width: 10%;
    color: #ED731F;
    text-transform: uppercase;
}

.fp-food {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .05);
    -webkit-border-radius: 8px;
    border-radius: 8px;
    padding: 0 2.5rem;
}

.fp-food__row {
    padding: 1.5rem 0;
    position: relative;
}

.fp-food__number {
    position: absolute;
    right: 0;
    top: 1.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    font-size: 1.4rem;
    color: #FF903A;
}

.fp-readymodal__dialog {
    max-width: 33rem;
}

.fp-readymodal__body {
    text-align: center;
    padding-top: 2.7rem;
    padding-bottom: 3.7rem;
}

.fp-readymodal__title {
    color: #444;
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 1.7rem;
}

.fp-readymodal__text {
    margin-bottom: 3rem;
}

.fp-modal {
    padding: 2rem;
    width: 37rem;
    z-index: 120;
    -webkit-border-radius: .5rem;
    border-radius: .5rem;
    position: absolute;
    -webkit-box-shadow: 0 7px 13px 0 rgba(0, 0, 0, .14);
    box-shadow: 0 7px 13px 0 rgba(0, 0, 0, .14);
}

.fp-modal-container {
    position: absolute;
    top: 0;
    z-index: 60;
}

.fp-modal:after {
    content: '';
    position: absolute;
    top: -30px;
    border: 10px solid transparent;
    border-bottom: 20px solid #fff;
}

.fp-modal-leftaligned:after {
    left: 25px;
}

.fp-modal-rightaligned:after {
    right: 25px;
}
