doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    meta(name='description', content='')
    link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
    link(rel='stylesheet', href='/build/dashboard.css')
  body
    #app
    script(async, src='https://cdn.pubnub.com/sdk/javascript/pubnub.4.3.2.min.js')
    script(src=jsBundle)
    script(async, src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBp0nIBIEWDsSp2lagOzOX4zdPEanFaDM8&libraries=drawing,places,geometry&callback=mapsLoaded')
