*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  box-sizing: border-box;
  min-height: 100%;
  overflow-x: hidden;
  font-family: sans-serif;
  font-size: 0.625rem;
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #a6a8ab;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

a, a:hover, a:focus {
  color: #a6a8ab;
}

a:focus {
  outline: 0;
}

button:focus {
  outline: 0;
}