.mb-0-imp {
    margin-bottom: 0 !important;
}

.mb-25 {
    margin-bottom: 2.5rem;
}

.mb-15 {
    margin-bottom: 1.5rem;
}

.mt-15 {
    margin-top: 15px;
}

.mt-25 {
    margin-top: 25px;
}

.ml-10 {
    margin-left: 10px;
}

.pb-10imp {
    padding-bottom: 10px !important;
}

.pl-10imp {
    padding-left: 10px !important;
}

.fs-14 {
    font-size: 14px;
}

.fs-18 {
    font-size: 18px;
}

.fw-700 {
    font-weight: 700;
}

.bold-color {
    color: #575757;
}

.cursor-autoimp {
    cursor: auto !important;
}

.cursor-pointer {
    cursor: pointer;
}

.no-overflow {
    overflow: hidden;
}

