.login_splitscreen {
    display: flex;
}

@media only screen and (max-width: 800px) {
    .login_splitscreen {
        display: block;
    }
}

.login_splitscreen_half_1 {
    width: 35%;
}

@media only screen and (max-width: 1350px) {
    .login_splitscreen_half_1 {
        width: 50%;
    }
}

@media only screen and (max-width: 800px) {
    .login_splitscreen_half_1 {
        width: 100%;
    }
}

.login_splitscreen_half_2 {
    height: 100vh;
    width: 65%;
}

@media only screen and (max-width: 1350px) {
    .login_splitscreen_half_2 {
        height: 100vh;
        width: 50%;
    }
}

@media only screen and (max-width: 800px) {
    .login_splitscreen_half_2 {
        display: none;
    }
}


.login_pagewrapper {
  padding: 5rem 5rem;
}

@media only screen and (max-width: 450px) {
  .login_pagewrapper {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

.login_logo {
  height: 70px;
  width: 150px;

  margin: auto;
}

.login_logo > img {
  height: 100%;
  width: 100%;
  display: block;
}

.login_boxwrapper {
  max-width: 35rem;
  margin: 7rem auto 0;

  /*border: 1px solid #ccc;*/
}

@media only screen and (max-width: 450px) {
  .login_boxwrapper {
    max-width: 90%;
  }
}

.login_boxcontent {
  padding: 0 20px;
}

@media only screen and (max-width: 450px) {
  .login_boxcontent {
    padding: 0 0;
  }

}

.login_heading > h2 {
  font-size: 3rem;
  color: #c8093c;

  text-align: center;
}

.login_form {
  margin-top: 1.875em;

  font-size: 1.6rem;
}

.login_formgrp {
  margin-bottom: 1.25em;

  font-size: 1.6rem;
}

.login_formlabel {
  font-size: 1.8rem;
  font-weight: 400;
  color: #454545;
}

.login_inputbox {
  height: 2.5em;

  font-size: 1.6rem;
  color: #454545;

  border: 1px solid #ccc;
  border-radius: 4px;
}

.login_chkboxlabel {
  display: inline-block;

  font-size: 1.4rem;
  color: #454545;

  vertical-align: top;
}

.login_button {
  margin-top: 1.25em;
  margin-bottom: 0.5em;

  font-size: 1.6rem;
}

.login_button > button {
  min-height: 2.25em;

  font-size: 2rem;
  font-weight: 700;
  color: #fff;

  background-color: #c8093c;
  border: 1px solid #c8093c;
  border-radius: 4px;
}

@media only screen and (max-width: 450px) {
  .login_button > button {
    min-height: 2.6em;
  }

}

.login_button > button:hover, .login_button > button:focus {
  color: #fff;
}

.login_assist > p {
  text-align: center;
}

.login_assist > p > a {
  font-size: 1.4rem;
  color: #454545;
}

.login_bg {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #f6f6f6 url(/images/login_food.jpg) no-repeat center center;
    background-size: cover;
}

.login-btn-loader {
    width: 100%;
}

.login_button.login-btn-loader > button {
    display: block;
    width: 100%;
    font-weight: 400;
    opacity: 1;
}