.print-button {
    position: absolute;
    top: 0;
    right: 15px;
    z-index: 20;
}

.order-table-layout {
    padding: 0 1.7rem 2rem 2.5rem;
}

.order-table-layout .fp-ot__qty,
.order-table-layout .fp-ot__order,
.order-table-layout .fp-ot__price {
    width: auto;
}


.order-status-button {
    padding-bottom: 30px;
    text-align: center;
}
.contwidth{
    max-width: 40rem !important;
}