.fp-profile-basicinfo {
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(151, 151, 151, 0.2);
}

.fp-profile-gmap {
    width: 100%;
}

.fp-profile-gmap .gmap {
    height: calc(100vh - 510px);
    overflow: auto !important;
}