.canavbar .canavbar-layout {
    margin-bottom: 0;
    background-color: #fff;
    box-shadow: 0 1px 13px 0 rgba(0, 0, 0, 0.13);
}

.canavbar .canavbar-nav {
    position: relative;
    top: 1.5rem;
    height: 67px;
    margin-left: 4.4rem;
}

.canavbar .canavbar-nav li {
    position: relative;
    height: 100%;
}

.canavbar .canavbar-nav a.current-link::after {
    content:'';
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 3px;
    width: 75%;
    display: block;
    background-color: #ed680c;
    transform: translateX(-50%);
}

.canavbar .canavbar-nav li a, .cnavbar .canavbar-nav-right li:last-child a {
    font-size: 1.5rem;
    color: #898686;
}

.canavbar .canavbar-nav li a {
    position: relative;
    height: 100%;
}

.canavbar .canavbar-nav li:not(:last-child) a {
    padding-right: 3rem;
    border-right: 1px solid #f2f2f2;
}

.canavbar-layout.navbar-default .navbar-nav > li > a:hover, .canavbar-layout.navbar-default .navbar-nav > li > a:focus {
    color: #898686;
}

.canavbar-layout.navbar-default .navbar-nav > .open > a, .canavbar-layout.navbar-default .navbar-nav > .open > a:hover, .canavbar-layout.navbar-default .navbar-nav > .open > a:focus {
    background-color: #fff;
}

.canavbar .ca-inroom-dine, .canavbar .ca-telephone, .canavbar .ca-info, .canavbar .ca-food {
    position: relative;
}

.canavbar a.current-link svg {
    fill: #c22c32;
}

.canavbar .ca-inroom-dine {
    top: -0.4rem;
}

.canavbar .ca-food {
    top: -0.3rem;
}

.canavbar .ca-info {
    top: -0.1rem;
}

.canavbar .ca-telephone {
    top: -0.2rem;
}

.canavbar .canavbar-nav-right {
    height: 82px;
}

.canavbar .canavbar-nav-right li, .canavbar .canavbar-nav-right li:first-child > a {
    height: 100%;
}

.canavbar .canavbar-nav-right li:last-child {
    margin-left: 0.5rem;
}

.canavbar .canavbar-nav-right li:first-child > a {
    position: relative;
    padding: 2.5rem 2.8rem;
    background-image: linear-gradient(to bottom, #ea8f47, #ed731f);
}

.canavbar .canavbar-propic {
    height: 3rem;
    width: 3rem;
    margin-right: 1.5rem;
    display: inline-block;
    border: 1px solid #fff;
}

.canavbar .canavbar-propic > img {
    height: 100%;
    width: 100%;
    border-radius: 100%;
    box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.25);
}

.canavbar .canavbar-nav-right li:last-child > a {
    padding-top: 2.7rem;
}

.canavbar .canavbar-nav-right li:last-child > a.temp-login {
    padding-top: 2rem;
    padding-right: 0;
}

.canavbar-nav-right > li > .canavbar-dropdown-menu, .canavbar-nav-mp > li > .canavbar-dropdown-menu {
    margin-top: 1.5rem;
    border: none;
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.21);
}

.canavbar-nav-right .canavbar-dropdown-menu .arrow-up:after,
.canavbar-nav-right .canavbar-dropdown-menu .arrow-up:before,
.canavbar-nav-mp .canavbar-dropdown-menu .arrow-up:after,
.canavbar-nav-mp .canavbar-dropdown-menu .arrow-up:before
 {
    position: absolute;
    left: 80%;
	bottom: 100%;
    height: 0;
	width: 0;
	border: solid transparent;
	pointer-events: none;
    content: " ";
}

.canavbar-nav-right .canavbar-dropdown-menu .arrow-up:before, .canavbar-nav-mp .canavbar-dropdown-menu .arrow-up:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #ececec;
	border-width: 14px;
	margin-left: -14px;
}

.canavbar-nav-right .canavbar-dropdown-menu .arrow-up:after, .canavbar-nav-mp .canavbar-dropdown-menu .arrow-up:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #fff;
	border-width: 12px;
	margin-left: -12px;
}

.canavbar .canavbar-nav-right .canavbar-dropdown li, .canavbar .canavbar-nav-mp .canavbar-dropdown li {
    margin-left: 0;
}

.canavbar .canavbar-nav-right .canavbar-dropdown li:first-child, .canavbar .canavbar-nav-mp .canavbar-dropdown li:first-child {
    margin-top: 1rem;
}

.canavbar .canavbar-nav-mp .canavbar-dropdown li:first-child {
    position: static;
}

.canavbar .canavbar-nav-right .canavbar-dropdown li > a, .canavbar .canavbar-nav-mp .canavbar-dropdown li > a {
    position: static;
    padding: 3px 20px;
    font-size: 1.6rem;
    color: #b3b0b0;
    background-image: none;
}

.canavbar .canavbar-nav-right .canavbar-dropdown li:not(:last-child) > a, .canavbar .canavbar-nav-mp .canavbar-dropdown li:not(:last-child) > a{
    margin-bottom: 1rem;
}

@media only screen and (min-width: 768px) and (max-width: 1080px) {
    .canavbar .canavbar-layout {
        min-height: 115px;
    }

    .canavbar-logo {
        padding-top: 5px;
    }

    .canavbar .canavbar-nav {
        top: 4.7rem;
        margin-left: 1.5rem;
    }

    .canavbar .canavbar-nav-right {
        position: absolute;
        top: -10px;
        right: 15px;
        height: auto;
    }

    .canavbar .canavbar-nav-right li:first-child > a {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        background-image: none;
    }

    .canavbar .canavbar-nav-right .ca-cart g {
        fill: #ed731f;
    }

    .canavbar-nav-right > li > .canavbar-dropdown-menu {
        top: 90%;
        margin-top: auto;
    }
}