/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_10146">Text with this font applied</p> */

/*.fontsforweb_fontid_10146 {
  font-family: 'GothamBook' !important;
}*/
@font-face {
  font-family: Gotham;
  src: url('../../../../fonts/gotham/Gotham-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Gotham;
  src: url('../../../../fonts/gotham/Gotham-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova;
  src: url('../../../../fonts/ProximaNova/ProximaNova-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova;
  src: url('../../../../fonts/ProximaNova/ProximaNova-Semibold.ttf');
  font-weight: 500;
  font-style: normal;
}

.bmi-body {
  min-width: 320px;
  float: left;
  width: 100%;/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f67e32+0,f6752e+50,f6672a+100 */
  min-height: 100vh;
  background: linear-gradient(to bottom, #f67e32 0%, #f6752e 50%, #f6672a 100%);
  background-attachment: fixed !important;
  font-family: ProximaNova, sans-serif;
}
.header {
  margin: 0 auto;
  max-width: 1170px;
  width: 100%;
  text-align: left;
}
.header h2 {
  color: #FFFFFF;
  font-family: Gotham;
  font-size: 80px;
  font-weight: 600;
  line-height: 96px;
  opacity: 0.22;
  padding-bottom: 15px;
  padding-top: 35px;
}
.bmi-container {
  background-color: #FFFFFF;
  border-radius: 15px;
  box-shadow: 0 16px 80px 0 rgba(0, 0, 0, 0.05), 0 35px 40px 0 rgba(0, 0, 0, 0.1);
  margin: 0% auto 6%;
  overflow: hidden;
  max-width: 1170px;
  width: 100%;
}
.box {
  background-color: #ffffff;
  border-radius: 15px 0 0 15px;
  float: left;
  height: 420px;
  text-align: center;
  width: 40%;
  min-height: 680px;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}
.box p {

}
.box .title {
  color: #555555;
  font-family: Gotham;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  padding: 90px 0;
  text-align: center;
}
.image {
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #F99A27;
  border-radius: 24px;
  height: 83.66px;
  margin: 0 auto;
  width: 83.66px;
}
.image1 {
  background-color: #F99A27;
  border-radius: 20px;
  height: 71.79px;
  margin: 4px auto;
  width: 71.79px;
  padding-top: 10px;
}
.box .txt-align {
  max-width: 290px;
  margin: 0 auto;
  margin-top: 53px;
  color: #9B9B9B;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
}
.box a {
  bottom: 60px;
  color: #ED731F;
  font-size: 15px;
  font-weight: 500;
  left: 0;
  line-height: 18px;
  position: absolute;
  right: 0;
  text-align: center;
  text-decoration: none;
}

.box .box_tab {
  display: none;
}

.box .box_tab.active {
  display: block;
}

.box_tab_page {
  display: none;
}

.box_tab_page.active {
  display: block;
}

.more_faq {
  border: none;
}

.box1 {
  float: right;
  height: 420px;
  width: 60%;
  position: relative;
  min-height: 680px;
  box-shadow: 0 16px 80px 0 rgba(0, 0, 0, 0.05), 0 35px 40px 0 rgba(0, 0, 0, 0.1);
  background: linear-gradient(to right, #fbfbfb 0%, #ffffff 100%);
}
.box1 ul.numbering {
  float: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  position: relative;
  text-align: center;
  width: 100%;
}
.box1 ul.numbering:after {
  background: none repeat scroll 0 0 #FBDECA;
  bottom: -35px;
  content: "";
  height: 2px;
  margin: auto;
  width: 30px;
  position: absolute;
  left: 50%;
  margin-left: -15px;
}
.box1 ul li {
  display: inline-block;
  float: none;
  list-style: none;
  margin: 0;
  vertical-align: top;
  margin-right: 10px;
}
.box1 ul li a {
  color: #9B9B9B;
  font-family: Gotham;
  font-size: 13px;
  font-weight: bold;
  line-height: 35px;
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  text-decoration: none;
}
.box1 ul li:last-child {
  margin-right: 0;
}
.box1 ul li.active a {
  border: 1px solid #ED731F;
  border-radius: 50%;
  color: #ED731F !important;
}

.box1_tab {
  display: none;
}

.box1_tab.active {
  display: block;
}

.measurement {
  background: none;
  height: 300px;
  margin: 90px auto 0;
  width: 450px;
}

.measurement .input_data {
  width: 100%;
  background: none;
}
.measurement .input_data .rows {
  border-bottom: 0.5px solid #DEDEDE;
}
.measurement .input_data .rows td {
  height: 60px;
  line-height: 60px;
}

.measurement ul li {
  float: left;
  margin-bottom: 20px;
  width: 100%;
}
.maintain-button .fa.fa-check-circle {
  font-size: 23px;
  margin-right: 10px;
  vertical-align: middle;
}
.maintain-button > span {
  display: inline-block;
  vertical-align: middle;
}
.input_data .column_1 {
  color: #4A4A4A;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  width: 250px;
}
.input_data .column_2 {
  color: #4A4A4A;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  width: 100px;
}
.input_data .column_2.divided {
  width: 200px;
  padding-left: 10px;
  padding-right: 15px;
}

.input_data .column_3 {
  color: #4A4A4A;
  text-align: right;
  width: 100px;
}
.measurement_input {
  text-align: center;
  font-size: 15px;
}
.activity_select {
  font-size: 15px;
}
.input_data .column_3.effects {
  font-size: 13px;
  line-height: 16px;
  color: #B8B8B8;
  padding-right: 15px;
}
.column2 a {
  background: linear-gradient(270deg, #ACE548 0%, #A0D534 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  border-radius: 100px;
  text-align: center;
  color: #ffffff !important;
  font-weight: 500;
  line-height: 18px;
  font-size: 15px;
  padding: 5px 25px !important;
}
.button {
  margin-right: 20px;
}
.nav-button {
  background-color: #F1F1F1;
  border-radius: 100px;
  font-family: Gotham;
  font-size: 18px;
  font-weight: 500;
  line-height: 50px;
  color: #9B9B9B;
  display: inline-block;
  width: 159px;
  height: 50px;
  text-decoration: none;
  cursor: default;
}
.button-back {
  margin-right: 15px;
}
.button-next {

}
.nav-button.enabled {
  background-color: #ED731F;
  color: #fff;
}
.nav-button:hover {
  cursor: pointer;
  text-decoration: none;
}
.nav-button.enabled:hover {
  opacity: 0.8;
}


.both-buttons {
  bottom: 60px;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  width: 100%;
  clear: both;
}
.image1 img {
  margin: 9px 0 0 2px;
}
.box1-content {
  margin: 70px auto 80px;
  max-width: 410px;
  text-align: center;
  position: relative;
}
.box1-content p {
  color: #4A4A4A;
  font-size: 18px;
  line-height: 30px;
  padding: 0 10px 28px;
  text-align: center;
}
.count {
  color: #ED731F;
  display: block;
  font-family: Gotham;
  font-size: 30px;
  font-weight: 300;
  line-height: 22px;
  margin-bottom: 10px;
  text-align: center;
}
.unit {
  color: #ED731F;
  display: block;
  font-size: 11px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
}
.unit:after {
  background: none repeat scroll 0 0 #DEDEDE;
  bottom: 230px;
  content: "";
  height: 2px;
  left: 0;
  margin: auto;
  max-width: 100px;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 9;
}
.box1-content p.txt5 {
  color: #4A4A4A;
  font-size: 15px;
  line-height: 22px;
  padding: 30px 0 20px;
  text-align: center;
}
.box1-content a {
  display: block;
  font-size: 15px;
  font-weight: bold;
  line-height: 18px;
  margin: 10px auto;
  padding: 13px 0;
  text-align: center;
  text-decoration: none;
  width: 270px;
}
.box1-content .recommend_button {
  border: 1px solid #B3B3B3;
  border-radius: 100px;
  color: #B3B3B3;
  position: relative;
}
.box1-content .recommend_button.active {
  background: linear-gradient(270deg, #ACE548 0%, #A0D534 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  border-radius: 100px;
  color: #FFFFFF;
}
.box1-content .recommend_button.active:before {
  content: "\f058";
  font-family: FontAwesome;
  font-size: 23px;
  position: absolute;
  margin-left: -30px;
}
.box p.spacing {
  padding: 70px 0 !important;
}
.circle {
  border: 6px solid #ED731F;
  border-radius: 50%;
  height: 216px;
  margin: 0 auto;
  text-align: center;
  width: 216px;
}
.box p.txt4 {
  color: #4A4A4A;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  padding: 60px 50px 100px;
  text-align: center;
}

.slider-dot {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #ED731F;
  border-radius: 100px;
  display: inline-block;
  height: 8px;
  margin-left: 15px;
  width: 8px;
}
.slider-dot:first-child {
  margin-left: 0;
}
.slider-dot.active {
  background-color: #ED731F;
}
.slider-dot:hover {
  cursor: pointer;
}
.circle p.txt1 {
  color: #ED731F;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  padding: 25px 0 10px;
  text-align: center;
}
.circle p.txt2 {
  color: #ED731F;
  font-family: Gotham;
  font-size: 40px;
  font-weight: 300;
  line-height: 48px;
  padding: 25px 0;
  text-align: center;
}
.circle p.txt3 {
  color: #ED731F;
  font-size: 23px;
  font-weight: bold;
  line-height: 28px;
  padding: 0;
  text-align: center;
}
.box p.text4 {
  color: #4A4A4A;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  padding: 0 0 65px 5px;
  text-align: center;
}
.box .your_results {
  overflow: hidden;
  float: none;
  list-style: none outside none;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  text-align: center;
  width: 100%;
}
.box .your_results li {
  float: left;
  text-decoration: none;
  width: 100%;
  padding: 10px 36px;
}
.box .your_results .active {
  border-radius: 100px;
  box-shadow: 0 0 30px 0 rgba(0,0,0,0.08);
}
.box .your_results .active .column1 {
  color: #ED731F;
}
.box .your_results .active .column2 {
  color: #4A4A4A;
}
.column1 {
  color: #4A4A4A;
  display: inline-block;
  float: left;
  font-size: 15px;
  line-height: 18px;
}
.column2 {
  color: #4A4A4A;
  float: right;
  font-size: 15px;
  line-height: 18px;
}
.text-effect {
  color: #9B9B9B;
  font-size: 20px;
  line-height: 26px;
}
.column2.fade {
  color: #DEDEDE;
  font-size: 15px;
  line-height: 18px;
}
.left, .right {
  color: #ED731F;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
}
.right {
  color: #4A4A4A;
}
.dot_slider_bottom {
  bottom: 50px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
}
.measurement ul li ul {
  float: right;
  margin: 0;
  width: 42%;
}
.measurement ul li ul .column2 {
  float: left;
  width: 50%;
}
.measurement li {
  border-bottom: 0.5px solid #DEDEDE;
}
.measurement li ul li {
  border-bottom: 0px solid #DEDEDE;
}

/*----------Calculating Page Animation------------*/
*, *:before, *:after {
  box-sizing: border-box;
  outline: none;
}
.animate .container_animate {
  background-color: #FFFFFF;
  border-radius: 15px;
  box-shadow: 0 16px 80px 0 rgba(0, 0, 0, 0.05), 0 35px 40px 0 rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  overflow: hidden;
  x-max-width: 1170px;
  height: 680px;
  position: relative;
  width: 100%;
}
.animate .box_animate {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 2px solid #DC8744;
  border-radius: 100%;
  height: 280px;
  left: 50%;
  overflow: hidden;
  position: absolute;
  top: 175px;
  transform: translate(-50%, 0);
  width: 280px;
}
.animate .box_animate .percent {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 64px;
}
.animate .box_animate .water {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  transform: translate(0, 100%);
  background: #f29c60;
}
.animate .box_animate .water_wave {
  width: 200%;
  position: absolute;
  bottom: 100%;
}
.animate .box_animate .water_wave_back {
  right: 0;
  fill: rgb(227, 179, 137);
  animation: wave-back 1.4s infinite linear;
}
.animate .box_animate .water_wave_front {
  left: 0;
  fill: rgb(242, 156, 96);
  margin-bottom: -1px;
  animation: wave-front .7s infinite linear;
}
.animate .heading p {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  line-height: 36px;
  color: #FFFFFF;
}
.animate .heading {
  left: 50%;
  position: absolute;
  top: 475px;
  transform: translate(-50%, 0px);
}
.animate .heading button {
  background-color: #f1f1f1;
  border: medium none;
  border-radius: 30px;
  color: #9b9b9b;
  display: table;
  font-size: 18px;
  line-height: normal;
  margin: 110px auto 0;
  padding: 10px 40px;
}

@keyframes wave-front {
  100% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}

@keyframes wave-back {
  100% {
    -webkit-transform: translate(50%, 0);
    transform: translate(50%, 0);
  }
}

/*----------Animation Page------------*/

/*--------Popup Page---------*/
.popup_div {
  background: #ffffff;
}

.mainmodal {
  background: linear-gradient(to bottom, #F89527 0%, #F9761B 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  border-radius: 15px;
  display: none;
  margin: auto;
  max-width: 700px;
  min-width: 260px;
  min-height: 404px;
  width: 100%;
  position: fixed;
  z-index: 9999;
}
.popup_mask {
  width: 100%;
  height: 100%;
  background-color: #000000;
  display: none;
  left: 0;
  opacity: 0.85;
  position: fixed;
  top: 0;
  z-index: 9000;
}
.mainmodal a.close:before {
  background-color: #FFFFFF;
  content: "";
  height: 22px;
  position: absolute;
  right: 10px;
  top: 5px;
  transform: rotate(45deg);
  width: 3px;
}
.mainmodal a.close:after {
  background-color: #FFFFFF;
  content: "";
  height: 22px;
  position: absolute;
  right: 10px;
  top: 5px;
  transform: rotate(-45deg);
  width: 3px;
}
.mainmodal a.close {
  float: right;
  height: 32px;
  padding: 25px 0 0;
  position: relative;
  right: 30px;
  top: 25px;
  width: 32px;
}
.mainmodal h3 {
  color: #FFFFFF;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  margin: 0;
  padding: 60px 0;
  text-align: center;
}
.mainmodal p {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 25px;
  margin: 0 auto;
  max-width: 580px;
  padding: 0 0 50px;
  text-align: center;
}
.mainmodal a.button {
  background-color: #FFFFFF;
  border-radius: 100px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.11);
  color: #ED731F;
  display: block;
  font-family: Gotham, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 49px;
  margin: auto;
  width: 200px;
  height: 49px;
  text-align: center;
  text-decoration: none;
}

/*--------Popup Page---------*/
input[type="text"] {
  border: 0 none;
  width: 50%;
}
.fade input {
  opacity: .3;
}
select {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: 0 none;
  width: 100%;
}

/*.column2 > label {
  border-radius: 50%;
  padding: 0 20px;
  position: relative;
}
.check {
  display: none;
}
.check:checked + label {
  color: red
}*/

/*--------Slider Pages---------*/

/* popup 3 */

.box_tab .top-title {
  color: #555555;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  padding: 90px 0 65px;
  text-align: center;
}
.box_tab .gd {
  color: #4A4A4A;
  font-size: 18px;
  line-height: 30px;
  padding: 0;
  text-align: center;
}
.box_tab .kcal-area {
  float: left;
  list-style: none outside none;
  margin: 40px 0;
  padding: 0;
  width: 100%;
  clear: both;
}
.box_tab .kcal-area li {
  width: 50%;
  margin: auto;
}
.box_tab .number-kcal {
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  line-height: 22px;
  color: #ED731F;
  display: block;
}
.box_tab .kcal-lft {
  color: #eba573;
  display: block;
  font-size: 13px;
  line-height: 25px;
  margin: 0 0 20px;
  text-align: center;
  position: relative;
}
.box_tab .kcal-lft:before {
  background-color: #DEDEDE;
  bottom: -10px;
  content: "";
  height: 2px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 60%;
}
.box_tab .kcal-day {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 22px;
  color: #ED731F;
  display: block;
}
.box_tab .meal-desc {
  color: #9B9B9B;
  font-size: 15px;
  line-height: 28px;
  margin: auto;
  max-width: 362px;
  text-align: center;
  width: 100%;
  clear: both;
}
.box_tab a.go-home-btn {
  background-color: #f2f2f2;
  border-radius: 100px;
  color: #9b9b9b;
  font-size: 18px;
  font-weight: 500;
  line-height: 50px;
  display: block;
  width: 159px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  max-width: 204px;
  margin: 0 auto;
}
.hr-slider {
  min-height: 380px;
  width: 100%;
  overflow: auto;
}
.hr-slider li {
  float: left;
  position: relative;
}
ul.tabs {
  float: left;
  margin: 50px 0 10px;
  width: 100%;
}
ul.tabs li {
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  line-height: 16px;
  color: #B3B3B3;
  margin: 0 10px;
}
ul.tabs li.active {
  color: #ED731F;
  position: relative;
}
ul.tabs li.active:after {
  background-color: #ed731f;
  bottom: -10px;
  content: "";
  height: 2px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  transform: translate(-12%, 0px);
  width: 135%;
}
ul.tabs.responsivetabs, ul.tabs {
  clear: both;
  float: none;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 0;
  width: 100%;
  max-width: 300px;
  text-align: center;
}
ul.tabs.responsivetabs li {
  clear: both;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  line-height: 16px;
  color: #B3B3B3;
  margin: 0 10px;
  min-width: 120px;
}
.tabs.responsivetabs li .active {
  color: #ED731F;
  position: relative;
  text-decoration: none;
}
.tabs.responsivetabs li > a {
  text-decoration: none;
  display: inline;
  color: #ED731F;
}
.tabs.responsivetabs li .active:after {
  background-color: #ed731f;
  bottom: -10px;
  content: "";
  height: 2px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  transform: translate(-12%, 0px);
  width: 135%;
}

.tabs_content {
  clear: both;
  display: none;
}
.tabs_content.active {
  display: block;
}

.slider-images img {
  border-radius: 15px;
  margin-left: 20px;
  width: 200px;
}
.box1.box-3 .slider-images {
  margin-bottom: 30px;
  padding-top: 80px;
  text-align: left;
  width: 1500px;
}
.imge-hover-text-1 {
  background-color: rgb(255, 255, 255);
  color: rgb(208, 208, 208);
  display: block;
  left: 72px;
  padding: 3px 0 3px 10px;
  position: absolute;
  text-align: left;
  top: 295px;
  width: 150px;
  border-radius: 0 10px 10px 0;
}
.price-1 {
  background-color: rgb(236, 108, 45);
  border-radius: 50%;
  color: rgb(255, 255, 255);
  display: block;
  height: 46px;
  left: 211px;
  position: absolute;
  top: 295px;
  width: 46px;
}
.price-1 > span {
  float: left;
  font-size: 10px;
  margin-left: 7px;
  padding-top: 13px;
}
.price-1 b {
  float: left;
  margin-left: 1px;
  padding-top: 15px;
  vertical-align: bottom;
}
.imge-hover-text-1 .name {
  color: rgb(80, 80, 80);
  display: block;
  font-family: Gotham;
  font-weight: 500;
}
.imge-hover-text-1 > span {
  color: rgb(157, 157, 157);
  display: block;
  font-family: Gotham;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.imge-hover-text-2 {
  background-color: rgb(255, 255, 255);
  color: rgb(208, 208, 208);
  display: block;
  left: 296px;
  padding: 3px 0 3px 10px;
  position: absolute;
  text-align: left;
  top: 275px;
  width: 150px;
  border-radius: 0 10px 10px 0;
}
.price-2 {
  background-color: rgb(236, 108, 45);
  border-radius: 50%;
  color: rgb(255, 255, 255);
  display: block;
  height: 50px;
  position: absolute;
  right: 291px;
  top: 283px;
  width: 50px;
}
.price-2 > span {
  float: left;
  font-size: 10px;
  margin-left: 7px;
  padding-top: 13px;
}
.price-2 b {
  float: left;
  margin-left: 1px;
  padding-top: 15px;
  vertical-align: bottom;
}
.imge-hover-text-2 .name {
  color: rgb(80, 80, 80);
  display: block;
  font-family: Gotham;
  font-weight: 500;
}
.imge-hover-text-2 > span {
  color: rgb(157, 157, 157);
  display: block;
  font-family: Gotham;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.imge-hover-text-3 {
  background-color: rgb(255, 255, 255);
  color: rgb(208, 208, 208);
  display: block;
  right: 93px;
  padding: 3px 0 3px 10px;
  position: absolute;
  text-align: left;
  top: 274px;
  width: 150px;
  border-radius: 0 10px 10px 0;
}
.price-3 {
  background-color: rgb(236, 108, 45);
  border-radius: 50%;
  color: rgb(255, 255, 255);
  display: block;
  height: 50px;
  position: absolute;
  right: 70px;
  top: 282px;
  width: 50px;
}
.price-3 > span {
  float: left;
  font-size: 10px;
  margin-left: 7px;
  padding-top: 13px;
}
.price-3 b {
  float: left;
  margin-left: 1px;
  padding-top: 15px;
  vertical-align: bottom;
}
.imge-hover-text-3 .name {
  color: rgb(80, 80, 80);
  display: block;
  font-family: Gotham;
  font-weight: 500;
}
.imge-hover-text-3 > span {
  color: rgb(157, 157, 157);
  display: block;
  font-family: Gotham;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.both-buttons a.add-to-btn {
  background-color: #ED731F;
  border-radius: 100px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  margin-top: 30px;
  display: inline-block;
}
.tooltip-box {
  background-color: #5D5C5C;
  border-radius: 18px;
  height: 30px;
  line-height: 30px;
  margin-bottom: 20px;
  margin-left: 70px;
  max-width: 200px;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  color: #fff;
}
ul.hovereffect li p[class*="imge-hover-tex"] {
  background-color: rgb(255, 255, 255);
  border-radius: 0 10px 10px 0;
  bottom: 0;
  color: rgb(208, 208, 208);
  display: block;
  left: 0 !important;
  padding: 3px 0 3px 10px;
  position: absolute;
  text-align: left;
  top: auto !important;
  width: 150px;
}
ul.hovereffect li p[class*="price"] {
  background-color: rgb(236, 108, 45);
  border-radius: 50%;
  bottom: 0;
  color: rgb(255, 255, 255);
  display: block;
  height: 46px;
  left: auto;
  position: absolute;
  right: 30px;
  top: auto;
  width: 46px;
}
.hr-slider li .tooltip-box {
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: -50px;
  display: none;
}
.hr-slider li:hover .tooltip-box {
  display: block;
}
.hr-slider li .tooltip-box:after {
  border-left: 8px solid rgba(0, 0, 0, 0);
  border-right: 8px solid rgba(0, 0, 0, 0);
  border-top: 8px solid rgba(0, 0, 0, 0.6);
  bottom: -8px;
  content: "";
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 0;
}
.check {
  margin: 0 5px 0 0;
}
.measurement input[type=radio], .measurement input[type=checkbox] {
  display: none;
}
.measurement input[type=radio] + label, .measurement input[type=checkbox] + label {
  padding: 6px 15px;
  cursor: pointer;
}
.measurement input[type=radio]:checked + label, .measurement input[type=checkbox]:checked + label {
  background: #a9e251;
  border-radius: 30px;
  color: #fff;
}
.measurement input[type=radio], .measurement input[type=checkbox] {
  display: none;
}
.measurement input[type=radio] + label, .measurement input[type=checkbox] + label {
  padding: 6px 15px;
  cursor: pointer;
  font-size: 15px;
  line-height: 18px;
  color: #4a4a4a;
}
.measurement input[type=radio]:checked + label, .measurement input[type=checkbox]:checked + label {
  background: #a9e251;
  border-radius: 30px;
  color: #fff;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}

/* slider 12 jan*/
.mCSB_draggerContainer {
  margin: 0 60px !important;
}
.mCSB_dragger_bar {
  height: 5px !important;
  margin: 6px auto !important;
}
.mCSB_dragger_bar {
  background: rgb(241, 115, 47) !important
}
.content_5, .content_6 {
  width: 100%;
  vertical-align: top;
  padding-bottom: 10px;
}
.content_6 .mCSB_scrollTools {
  bottom: -5px !important;
}

.content_6 .images_container {
  padding-bottom: 20px;
}
.content_6 .images_container .itembox {
  max-height: 200px;
}

.images_container .itembox {
  width: 167px;
  height: 200px;
  float: left;
  margin-right: 44px;
  position: relative;
  cursor: pointer;
}

.content_5 .images_container .itembox {
  border-radius: 15px;
}

.content_5 .images_container .itembox img {
  max-width: 200px;
  border-radius: 25px;
}


.content_6 .images_container .itembox:hover {
  transform: none;
  transition: none;
}
.content_6 .images_container .itembox:hover .img_container {
  transform: scale(1.1);
  transition: .4s all ease-in-out;
  box-shadow: 0 13px 28px 2px rgba(0,0,0,0.23), 0 15px 60px 0 rgba(0,0,0,0.1);
}
.content_6 .images_container .itembox:hover .food_image {
  border: 6px solid #ED731F;
}

.content_6 .images_container .itembox.selected .food_image {
    border: 6px solid #ED731F;
}

.images_container .itembox {
  transition: .4s all ease-in-out;
}

.images_container .itembox .finfo {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 99;
    height: 30px;
    width: 30px;
    line-height: 27px;
    text-align: center;
    background-color: rgba(0,0,0,.36);
    border: 0;
    border-radius: 4px;
}

.content_5 .images_container .itembox:hover {
  transform: scale(1.1);
  transition: .4s all ease-in-out;
}

.content_5 .images_container .itembox img {
  transition: .4s all ease-in-out;
}
.content_5 .images_container .itembox:hover img {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transition: .4s all ease-in-out;
}

.content_6 .images_container .itembox img {
  max-width: 200px;
}

.content_6 .images_container .itembox img {
  transition: .4s all ease-in-out;
}

.content_6 .images_container .itembox:hover img {
  transition: .4s all ease-in-out;
}

.content_6 .images_container .itembox .img_container {
  width: 200px;
  height: 155px;
  border-radius: 15px;
}
.content_6 .images_container .food_image {
  width: 200px;
  height: 155px;
  border-radius: 15px;
  overflow: hidden;
}
.images_container {
  width: 100% !important;
  padding: 70px 0  20px 30px;
  display: inline-block;
}

.images_container .itembox .circle_block {
  width: 114px;
  height: 114px;
  border-radius: 100%;
  position: absolute;
  background-color: #ED731F;
  opacity: 0.85;
  top: 50%;
  left: 50%;
  margin-left: -57px;
  margin-top: -57px;
  text-align: center;
  color: #fff;
  padding-top: 15px;
}

.images_container .itembox .circle_block .cal_image {
  width: 18px;
  height: 22px;
  margin-bottom: 5px;
}

.images_container .itembox .circle_block .cal_number {
  font-family: Gotham;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}

.images_container .itembox .circle_block .cal_text {
  font-size: 14px;
  color: #FFD8C8;
}

.images_container .itembox .img_container {
  position: relative;
}

.images_container .itembox .title {
  text-align: center;
  font-family: Gotham, sans-serif;
  font-weight: 500;
  font-size: 15px;
  margin-top: 20px;
  color: #656565;
}

.food-slider {
  padding: 0;
  display: inline-block;
  vertical-align: top;
  width: 100%;
}
.food-slider .txtBox {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0 10px 10px 0;
  bottom: 20px;
  color: rgb(208, 208, 208);
  display: block;
  left: 0 !important;
  padding: 10px 0 10px 10px;
  position: absolute;
  text-align: left;
  top: auto !important;
  width: 80%;
  min-height: 50px;
}
.food-slider .txtBox .name {
  color: rgb(80, 80, 80);
  display: block;
  font-family: Gotham;
  font-weight: 500;
  min-height: 14px;
  line-height: 1;
  clear: both;
}
.food-slider .txtBox .details {
  color: rgb(157, 157, 157);
  display: block;
  font-family: "GothamBook";
  font-size: 12px;
  font-weight: 500;
  display: block;
  clear: both;
  min-height: 12px;
  line-height: 1;
}
img.cal_image {
  width: 9px;
  height: 12px;
}
.food-slider .txtBox .pricebox {
  border-radius: 50%;
  bottom: 0;
  color: rgb(255, 255, 255);
  display: block;
  min-height: 46px;
  min-width: 46px;
  left: auto;
  position: absolute;
  right: -25px;
  top: 50%;
  background: linear-gradient(to bottom, #f89d5c 0%, #ef6531 100%);
  line-height: 36px;
  font-size: 9px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  padding: 2px;
}
.food-slider .txtBox .pricebox span {
  display: block;
  float: left;
  margin-top: -3px;
}
.food-slider .txtBox .pricebox strong {
  font-size: 20px;
  display: inline-block;
  vertical-align: top;
  padding: 0;
}
.food-slider .tooltip-box {
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: -50px;
  display: none;
}
.food-slider .itembox:hover .tooltip-box {
  display: block;
}
.food-slider .itembox .tooltip-box:after {
  border-left: 8px solid rgba(0, 0, 0, 0);
  border-right: 8px solid rgba(0, 0, 0, 0);
  border-top: 8px solid rgba(0, 0, 0, 0.6);
  bottom: -8px;
  content: "";
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 0;
}
.total-box {
  text-align: center;
  font-size: 13px;
  color: #B3B3B3;
  /*margin-top: -45px;*/
}


/*
BMI step 3 modal styling
@author: Kamal Sharif
@date: 30 January, 2017
*/

.bmi-body .rodal-dialog {
  top: 27%;
  left: 33%;
  height: 580px !important;
  width: 980px !important;
  padding: 25px;
  overflow-y: scroll;
  border-radius: 15px;
}

/*modal header */
.bmi-modal-header {
  position: relative;
  margin-bottom: 1.5rem;
  padding-bottom: 2rem;
  text-align: center;
}

.bmi-modal-header::after {
  position: absolute;
  left: 48%;
  bottom: 0;
  height: 4px;
  width: 40px;
  display: block;
  margin: auto;
  background-color: #fbdeca;
  border: 1px solid #fbdeca;
  border-radius: 4px;
  transform: translateY(-48%);
  content: '';
}

.bmi-modal-header .bmi-modal-heading, .bmi-modal-header .bmi-modal-tagline {
  color: #656565;
}

.bmi-modal-header .bmi-modal-heading {
  margin-bottom: 0.5rem;
  font-family: Gotham, sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
}

.bmi-modal-header .bmi-modal-tagline {
  font-size: 1.4rem;
  font-weight: 400;

}

/*modal tabs */
/*.bmi-modal-tabs .react-tabs [role=tablist] {
  text-align: center;
  border-bottom: none;
}

.bmi-modal-tabs .react-tabs [role=tab] {
  font-size: 1.3rem;
  font-weight: 500;
  color: #b3b3b3;
  border: none;
}

.bmi-modal-tabs .react-tabs [role=tab]:not(:last-child) {
    margin-right: 3rem;
}

.bmi-modal-tabs .react-tabs [role=tab][aria-selected=true] {
  padding-bottom: 0.7rem;
  color: #ed731f;
  border-bottom: 1px solid #ed731f;
}*/

/*
BMI step 3 bootstrap modal styling
@author: Kamal Sharif
@date: 24 January, 2017
*/

/*
BMI step 3 slick slider styling
@author: Kamal Sharif
@date: 30 January, 2017
*/

.bmi-modal-dayblock-wrapper {
  width: 95%;
  margin-right: auto;
  margin-left: auto;
}

.bmi-modal-dayblock-wrapper .slick-prev,
.bmi-modal-dayblock-wrapper .slick-next,
.bmi-modal-dayblock-wrapper .slick-prev:hover,
.bmi-modal-dayblock-wrapper .slick-next:hover {
  color: transparent;
  border: none;
  background: transparent;
}

.bmi-modal-dayblock-wrapper .slick-prev:before,
.bmi-modal-dayblock-wrapper .slick-next:before {
  color: #ed731f;
  opacity: 1;
}

.bmi-modal-dayblock-wrapper .slick-slide {
  width: auto !important;
}

/* modal meal */
.bmi-modal-dayblock {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-right: 30px;
}

.slick-slide:not(:first-child) .bmi-modal-dayblock {
  padding-left: 15px;
}

.slick-slide:not(:last-child) .bmi-modal-dayblock::after {
  position: absolute;
  top: 50%;
  right: 0;
  height: 2px;
  width: 25px;
  display: block;
  background-color: #ed731f;
  transform: rotate(90deg) translateY(-50%);
  content: '';
}

.bmi-modal-dayblock h4 {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #ed731f;
  text-transform: uppercase;
}

.bmi-modal-meal-wrapper, .bmi-modal-meal {
  display: inline-block;
  vertical-align: top;
}

.bmi-modal-meal-wrapper {
  margin-right: 1rem;
}

.bmi-modal-meal:not(:last-child) {
  margin-right: 2rem;
}

.bmi-modal-meal .bmi-modal-mealcontent {
  width: 150px;
  overflow-x: hidden;
}

.bmi-modal-meal .bmi-modal-mealimg {
  height: 150px;
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
}

.bmi-modal-meal .bmi-modal-mealimg > img {
  width: 100%;
  border-radius: 15px;
}

.bmi-modal-meal .bmi-modal-mealname {
  font-family: Gotham, 'sans-serif';
  font-size: 1.3rem;
  font-weight: 500;
  color: #505050;
}

.bmi-modal-closebtn {
  margin-top: 80px;
  text-align: center;
}

.bmi-modal-closebtn > button {
  height: 40px;
  width: 90px;
  font-family: Gotham, 'sans-serif';
  font-weight: 500;
  font-size: 15px;
  color: #fff;
  background-color: #ed731f;
  border: 1px solid #ed731f;
  border-radius: 100px;
}

@media (min-width: 768px) {
    .bmi-body .modal {
        margin-right: auto;
        margin-left: auto;
        width: 400px;
        font-weight: 400;
    }
}

.bmi-body .modal.fade.in .modal-dialog {
  transform: translate3d(0, 260px, 0);
}

.bmi-body .modal h4 {
  color: #ed6608;
}