.addrmodal .rodal-dialog {
    overflow: scroll !important;
}

.addrmodal-header {
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
    color: #ec6608;
    border-bottom: 1px solid rgba(237, 102, 8, 0.6);
}

.addrmodal-list {
    margin-bottom: 15px;
    padding: 6px 10px;
    font-size: 14px;
    border: 1px solid rgba(237, 102, 8, 0.6);
    border-radius: 7px;
    transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
}

.addrmodal-list:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    cursor: pointer;
}