.binary_prompt_content {
    padding: 2.5rem 0;
    text-align: center;
}

.binary_prompt_content .prompt_btn {
    margin-top: 1.5rem;
}

.binary_prompt_content .butn:not(:first-child) {
    margin-left: 1rem;
}