.butn,
.butn_promo,
.butn_chkout,
.butn_chkout_v2,
.butn-ocnf,
.butn-sdp-add {
    transition: box-shadow 0.3s linear;
}

.butn {
  min-height: 2.5em;
  min-width: 5.56em;

  font-size: 1.8rem;
  color: #fff;
}

.butn.butn_default {
  background-color: #f77316;
  border: 1px solid #f77316;
}

.butn.butn_danger {
    background-color: #dd4248;
    border: 1px solid #dd4248;
}

.butn.butn_default:hover,
.butn.butn_default:focus,
.butn.butn_danger:hover,
.butn.butn_danger:focus,
.butn_promo:hover,
.butn_promo:focus,
.butn_chkout:hover,
.butn_chkout:focus,
.butn-ocnf:hover,
.butn-ocnf:focus,
.butn-sdp-add:hover,
.butn-sdp-add:focus,
.butn_chkout_v2:hover,
.butn_chkout_v2:focus {
  color: #fff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  outline: none;
}

.butn_promo {
    height: 4.4rem;
    width: 8.2rem;
    font-size: 1.4rem;
    font-weight: 400;
    color: #ed731f;
    text-transform: uppercase;
    background-color: #fff;
    border: 1px solid #ed731f;
    border-radius: 4px;
}

.butn_chkout {
    height: 3.444em;
    width: 12.222em;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    background-color: #ed731f;
    border: 1px solid #ed731f;
    border-radius: 4px;
}

.butn_chkout_v2 {
    height: 2.844em;
    width: 10.022em;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    background-color: #ed731f;
    border: 1px solid #ed731f;
    border-radius: 4px;
}
.butn_clr_meal {
    height: 1.844em;
    width: 11.022em;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    background-color: #ed731f;
    border: 1px solid #ed731f;
    border-radius: 4px;
}

.butn_filter, .butn_fc, .butn_fo {
    padding: 1.2rem;
}

.butn_filter, .butn_fc {
    border: 1px solid #cecece;
}

.butn_filter {
    background-color: #fbfbfb;
    border-radius: 100%;
}

.butn_fc, .butn_fo {
    border-radius: 3px;
}

.butn_fc {
    background-color: #fff;
}

.butn_fo {
    background-color: #ed680c;
    border: 1px solid #ed680c;
}

.butn-ocnf {
    min-height: 2.750em;
    min-width: 9.688em;
    padding: 0.750em 1.875em;
    font-size: 1.6rem;
    color: #fff !important;
    background-color: #ed731f;
    border: 1px solid #ed731f;
    border-radius: 4px;
}

.butn-sdp-add {
    min-height: 3.143em;
    min-width: 100%;
    font-family: 'Gotham Bold', 'Arial', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    color: #fff;
    background-color: #ed680c;
    border: 1px solid #ed680c;
    border-radius: 6px;
}

.butn.butn_back {
  background-color: #fb8a3a;
  border: 1px solid #fb8a3a;
}

.butn.butn_back:hover, .butn.butn_back:focus {
  color: #fff;
  background-color: #fb9953;
  border: 1px solid #fb9953;
}
