.cadp_collapsed {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 3rem;
    height: 100%;
}

.cadp_collapsed .cadp_breakfast,
.cadp_collapsed .cadp_lunch,
.cadp_collapsed .cadp_dinner {
    flex: 1;
    padding: 0 1.5rem;
}

.cadp_collapsed .cadp_breakfast,
.cadp_collapsed .cadp_lunch {
    border-right: 1px solid #ccc;
}

.cadp_collapsed .cadp_mitem:not(:last-child) {
    margin-bottom: 1.5rem;
}

.cadp_collapsed .cadp_mheader {
    overflow: hidden;
    padding-bottom: 1.5rem;
}

.cadp_collapsed .cadp_mheading, .cadp_collapsed .cadp_mheading > h4, .cadp_collapsed .cadp_madd, .cadp_collapsed .cadp_mnumb, .cadp_collapsed .cadp_mnumb > p {
    display: inline-block;
}

.cadp_collapsed .cadp_mheading > h4 {
    font-size: 1.6rem;
}

.cadp_collapsed .cadp_madd {
    margin-left: 1rem;
}

.cadp_collapsed .cadp_mnumb, .cadp_collapsed .cadp_mnumb > p {
    vertical-align: middle;
}

.cadp_collapsed .cadp_mnumb {
    float: right;
}

.cadp_collapsed .cadp_mimage {
    height: 3.5rem;
    width: 3.5rem;
    display: inline-block;
}

.cadp_collapsed .cadp_mimage > img {
    height: 100%;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.cadp_collapsed .cadp_mname span {
    color: #8a8a8a;
}

.cadp_collapsed .cadp_mstat {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.cadp_collapsed .cadp_mstat_cal, .cadp_collapsed .cadp_mstat_protein {
    margin-right: 2%;
}

.cadp_collapsed .cadp_mstat_text > p, .cadp_collapsed .cadp_mstat_protein > p, .cadp_collapsed .cadp_mstat_carbs > p, .cadp_collapsed .cadp_mstat_price > p {
    font-size: 1.4rem;
}

.cadp_collapsed .cadp_mstat_price > p {
    color: #ed680c;
}

.is-office .cadp_lunch{
    border-right: none;
}

.is-office .cadp_breakfast, 
.is-office .cadp_dinner{
    display: none;
}