.ca-dropdown {
    position: absolute;
    top: -1rem;
    left: 11rem;
    z-index: 600;
    width: 27rem;
    max-width: 27rem;
    padding-top: 1rem;
    background-color: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 6px;
}

.ca-dropdown .dropdown_sorticon {
    padding-left: 2rem;
}


.ca-dropdown .butn_filter {
    background-color: #ed680c;
    border: 1px solid #ed680c;
}

.ca-dropdown .ca_dropdown_items {
    margin-top: 1rem;
}

.ca_dropdown_items .sitem {
    position: relative;
}

.sitem:not(:last-child) {
    border-bottom: 1px solid #e8e8e8;
}

.sitem > .sitem-wrapper {
    position: relative;
    padding: 2rem;
}

.sitem .sitem-tag img {
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 2rem;
}

.sitem .sitem-tag span {
    font-size: 1.4rem;
    color: #727272;
    opacity: 0.45;
}

.sitem .sitem-checkbox {
    position: absolute;
    right: 20px;
    top: 9px;
}