.menu-shadow > .fcard {
    transition: box-shadow 0.3s linear;
}

.menu-shadow > .fcard:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.fcard {
    position: relative;
    height: 32rem;
    max-height: 32rem;
    min-height: 0.1rem;
    overflow: hidden;
    margin-bottom: 1.5rem;
    border: 1px solid rgba(151, 151, 151, 0.15);
    perspective: 800px;
    transition: all 0.3s ease;
}

.fcard .fadd, .fcard-od .finfo {
    position: absolute;
    top: 1.5rem;
    z-index: 399;
    height: 32px;
    width: 32px;
    line-height: 27px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.36);
    border: 0;
    border-radius: 4px;
}

.fcard-od .fcard-od-3d {
    height: 100%;
    width: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.fcard-od .fcard-od-3d.fcard-od-3d-flipped {
    transform: rotateY(180deg);
}

.fcard-od .fcard-od-front, .fcard-od .fcard-od-back {
    position: absolute;
    z-index: 100;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    background-image: linear-gradient(to bottom, #f7f7f7, #ececec);
}

.fcard-od .fcard-od-back {
    padding: 1.5rem;
    border: 1px solid #e9e9e9;
    transform: rotateY( 180deg );
}

.fcard-od .fcard-od-flipback {
    text-align: right;
}

.fcard-od .fcard-od-flipbackbtn {
    background-color: transparent;
    border: none;
}

.fcard-od .fcard-od-flipbackbtn > img {
    height: 25px;
    width: 22px;
}

.fcard-od .fcard-od-exinfo {
    width: 15rem;
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}

.fcard-od .exinfo-heading {
    display: inline-block;
    padding-bottom: 1px;
    font-size: 1.4rem;
    color: #a3a9af;
    text-transform: uppercase;
    border-bottom: 1px dashed #d6d6d6;
}

.fcard-od .exinfo-list {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

.fcard-od .exinfo-list li {
    margin-bottom: 1rem;
}

.fcard-od .exinfo-list li:before {
    content: '';
    height: 0;
    widows: 0;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    border-color: transparent #ed6e31;
    border-style: solid;
    border-width: 4.5px 0 4.5px 6px;
}

.fcard-od .exinfo-list li > span {
    color: #66696c;
}

.fcard-od .fcard-od-backbtn {
    text-align: center;
}

.fcard-od .fcard-od-backbtn > button {
    min-width: 114px;
    min-height: 44px;
    font-size: 1.4rem;
    color: #47484a;
    background-color: transparent;
    border: 1px solid #cfccca;
    border-radius: 6px;
    transition: border-color 0.3s ease-in;
}

.fcard-od .fcard-od-backbtn > button:hover, .fcard-od .fcard-od-backbtn > button:focus {
    color: #47484a;
    border-color: #47484a;
    outline: 0;
}

.fcard-od .fcard-od-backbtn > button > img {
    position: relative;
    left: -8px;
}

.fcard .fadd {
    left: 1.5rem;
}

.fcard-od .finfo {
    right: 1.5rem;
}

.fcard .fadd:after {
    position: absolute;
    top: 0.3rem;
    left: 0.3rem;
    z-index: 450;
    height: 26px;
    width: 26px;
     display: block;
    content: '';
    border: 1px solid #fff;
}

.fcard .fimg {
    height: 100%;
    width: auto;
    display: block;
    color: transparent;
}

.fcard .fdtl {
    position: absolute;
    bottom: 2.5rem;
    left: 0;
    z-index: 450;
    width: 75%;
    max-width: 75%;
    padding: 1.2rem 0 1.2rem 1.2rem;

    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.fcard .fprice {
    position: absolute;
    top: 50%;
    right: -2.5rem;
    z-index: 450;
    height: 5rem;
    width: 5rem;
    line-height: 4.5rem;
    text-align: center;
    background-image: linear-gradient(to bottom, #f7a259, #ec692d);
    border-radius: 100%;
    transform: translateY(-50%);
}

.fcard .fname > p {
    font-size: 1.4rem;
    font-weight: 700;
    color: #505050;
}

.fcard .fcal img {
    margin-right: 0.8rem;
}

.fcard .fcal span {
    font-size: 1rem;
    font-weight: 400;
    color: #9d9d9d;
}

.fcard .fprice > p {
    font-size: 1.4rem;
    color: #fff;
    line-height: 5rem;
}

.fcard .fprice sup {
    font-size: 0.6rem;
    right: 3px;
}


.fcard.fcard-mod .fcard-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 400;
    height: 100%;
    width: 100%;
    background-color: rgba(253, 197, 130, 0.75);
}

.fcard .fctrl, .fcard .fnumb {
    display: none;
}

.fcard.fcard-mod .fctrl {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    z-index: 401;
    display: inline-block;
    padding: 1rem;
    background-color: #ed6e31;
}

.fcard.fcard-mod .fdecre {
    padding: 0.3rem 0.8rem;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.72);
    border-radius: 2px;
}

.fcard.fcard-mod .fincre {
    padding: 0.3rem 0.8rem;
    margin-left: 1rem;
    background-color: #fff;
    border: 0;
    border-radius: 2px;
}

.fcard.fcard-mod .fincre img {
    height: 1.5rem;
    width: 1.3rem;
    margin-right: 0.5rem;
}

.fcard.fcard-mod .fincre span {
    display: inline-block;
    vertical-align: text-top;
    font-size: 1.4rem;
    color: #ed7e31;
    text-transform: uppercase;
}

.fcard.fcard-mod .fnumb {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 402;
    width: 100%;
    display: block;
    text-align: center;
}

.fcard.fcard-mod .fnumb p {
    color: #fff;
}

.fcard.fcard-mod .fnumb p:first-child {
    font-family: 'Gotham Bold', 'Arial', sans-serif;
    font-weight: 700;
    font-size: 6.4rem;
}


.fcard.fcard-mod .fnumb p img {
    margin-right: 1rem;
    vertical-align: text-bottom;
}

.fcard.fcard-mod .fnumb p:last-child {
    margin-top: -1rem;
    font-family: 'Gotham Bold', 'Arial', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    text-transform: uppercase;
}