.form-group.no_mb {
    margin-bottom: 0;
}

.ca_geninput:not(:first-child) {
    margin-top: 1rem;
}

.ca_geninput .ca_frmctrl, .ca_geninput .ca_input-group_addon, .ca_geninput .ca_input_group_icontext {
    padding-top: 0;
    padding-bottom: 0;
    border: 0;
    border-radius: 0;
}

.ca_geninput .ca_frmctrl, .ca_geninput .ca_input-group_addon {
    padding-left: 0;
    border-bottom: 1px solid #e2e2e2;
}

.ca_geninput .ca_input-group_addon {
    padding-right: 0;
}

.ca_geninput .ca_input-group_addon + input[type='email'],
.ca_geninput .ca_input-group_addon + input[type='text'] {
    padding-left: 1rem;
}

.ca_geninput .ca_input-group_addon + input[type='tel'],
.ca_geninput .ca_input-group_addon + input[type='number'] {
    padding-left: 1.6rem;
}

.ca_geninput .ca_input-group_addon.no_btmbdr {
    border-bottom: 0;
}

.ca_geninput .ca_input_group_icontext {
    font-size: 1.4rem;
    color: #53ca45;
    text-transform: uppercase;
}

.ca_geninput .ca_frmctrl {
    height: 3.429em;
    font-size: 1.4rem;
    color: #a4a4a4;
    box-shadow: none;
}

.ca_geninput .ca_input-group_addon, .ca_geninput .ca_input_group_icontext {
    background-color: #fff;
}

.ca_geninput .ca_input_label {
    margin-left: 1.2rem;
    font-size: 1.4rem;
    font-weight: 400;
    color: #a4a4a4;
}

.ca_textarea .ca_frmctrl {
    height: 5em;
    resize: none;
}

.ca_geninput .ca_input-group_addon > .butn_promo {
    margin-left: 1.3rem;
}

.ca-radio {
  padding-left: 20px;
}

.ca-radio label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}
.ca-radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  background-color: #fff;
  transition: border 0.15s ease-in-out;
}
.ca-radio label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 11px;
  height: 11px;
  left: 3px;
  top: 3px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #555555;
  transform: scale(0, 0);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.ca-radio input[type="ca-radio"] {
  opacity: 0;
  z-index: 1;
}
.ca-radio input[type="ca-radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.ca-radio input[type="ca-radio"]:checked + label::after {
  transform: scale(1, 1);
}
.ca.ca-radio input[type="ca-radio"]:disabled + label {
  opacity: 0.65;
}

.radio-primary input[type="radio"] + label::after {
  background-color: #337ab7;
}
.radio-primary input[type="radio"]:checked + label::before {
  border-color: #337ab7;
}
.radio-primary input[type="radio"]:checked + label::after {
  background-color: #337ab7;
}

input[type="checkbox"].styled:checked + label:after,
input[type="radio"].styled:checked + label:after {
  font-family: 'FontAwesome';
  content: "\f00c";
}
input[type="checkbox"] .styled:checked + label::before,
input[type="radio"] .styled:checked + label::before {
  color: #fff;
}
input[type="checkbox"] .styled:checked + label::after,
input[type="radio"] .styled:checked + label::after {
  color: #fff;
}
