.addr_gmap {
    width: 100%;
    height: 43rem;
}

.addr_gmap > img {
    height: 100%;
    width: 100%;
}

.gmap-search {
    height: 32px;
    width: 70% !important;
    margin-top: 10px;
    padding-left: 10px;
    font-size: 14px;
    border: 1px solid transparent !important;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}