.ca-chicken, .ca-lobster {
    height: 2.5rem;
    width: 2.5rem;
}

.ca-chicken > svg, .ca-steakbone > svg, .ca-lobster > svg, .ca-pepper > svg {
    height: 100%;
    width: 200%;
    fill: #727272;
    opacity: 0.45;
}

.ca-steakbone {
    height: 1.8rem;
    width: 2.5rem;
}

.ca-pepper {
    height: 1.8rem;
    width: 2.5rem;
}

.ca-inroom-dine, .ca-telephone, .ca-info, .ca-food {
    height: 2rem;
    margin-right: 0.5rem;
    display: inline-block;
    vertical-align: middle;
}

.ca-inroom-dine, .ca-info, .ca-telephone {
    width: 1.9rem;
}

.ca-food {
    width: 1.7rem;
}

.ca-inroom-dine > svg, .ca-telephone > svg, .ca-info > svg, .ca-food > svg, .ca-cart > svg {
    height: 100%;
    width: 100%;
    fill: #c9c9c9;
}

.ca-cart {
    height: 3rem;
    width: 3.2rem;
    display: inline-block;
}