.ca_modal .rodal-dialog {
    width: 1000px !important;
    height: 600px !important;
    padding: 4rem 3rem 6rem;
    overflow: auto;
    transform: translateX(-25%);
}

/*menu rodal*/
/*.home-rodal rodal-dialog{
  width: auto;
  max-height: 50rem;
  overflow-y: scroll;
}*/
