.ca-badge {
    position: absolute;
    right: 15px;
    height: 23px;
    width: 23px;
    line-height: 23px;
    padding: 0;
    background-color: #b10a35;
    border: 1px solid #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.11);
    border-radius: 100%;
}