.ca_weekbox {
    padding: 1.5rem;
    border: 1px solid #ccc;
}

.ca_weekbox .weekbox_header {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #ccc;
}

.ca_weekbox .weekbox_heading img {
    vertical-align: text-bottom;
    margin-right: 1rem;
}

.ca_weekbox .weekbox_heading span {
    font-size: 1.6rem;
}

.ca_weekbox .weekbox_slots {
    padding-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.ca_weekbox .weekbox_slot {
    position: relative;
    height: 12vh;
    width: 48.8%;
    margin: 0.6%;
    overflow: hidden;
    background-color: #f0f0f0;
    border: 1px solid #e9e9e9;
    border-radius: 3px;
    cursor: pointer;
}

.ca_weekbox .weekbox_slot > p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ca_weekbox .weekbox_slot.weekbox-slot-clicked {
    background-color: #ed680c;
}

.ca_weekbox .weekbox_slot.weekbox-slot-clicked > p {
    color: #fff;
}