.caadditionalbar {
    overflow: hidden;
    border-bottom: 1px solid #e4e4e4;
}

.caadditionalbar .caadditionalbar-content {
    position: relative;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}

.caadditionalbar.mpcheckoutbar .mpcheckoutbar-content {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.caadditionalbar .campdetails_bradcrumb {
    display: inline-block;
    vertical-align: text-top;
}

.caadditionalbar .caadditionalbar-switch {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.caadditionalbar .campdetails_chckout {
    float: right;
}