.camp_details {
    padding: 1.5rem;
}

.camp_details .weekly_sec, .camp_details .week_breakdown {
    padding-top: 1.5rem;
}

.camp_details .ca_weeknav {
    margin-top: 2.5rem;
}

.camp_details .cadp_header, .camp_details .cadp_heading, .camp_details .cadp_heading > h3, .camp_details .cadp_button, .camp_details .cadp_weeknumb, .camp_details .cadp_weeknumb > h4, .cadp_singleday .collapse_indicator, .cadp_singleday .day_name, .cadp_singleday .day_name > p, .cadp_singleday .cal_summary, .cadp_singleday .cal_text, .cadp_singleday .cal_text > p, .cadp_singleday .stat_protein, .cadp_singleday .stat_protein > p, .cadp_singleday .stat_carbs,
.cadp_singleday .stat_carbs > p, .cadp_singleday .stat_fats, .cadp_singleday .stat_fats > p {
    display: inline-block;
}

.cadp_weeknumb > h4 {
    font-family: 'Gotham Bold', 'Arial', sans-serif;
    font-weight: 700;
    color: #ed680c;
}

.camp_details .cadp_header {
    margin-bottom: 3.2rem;
}

.camp_details .cadp_heading > h3 {
    font-size: 2rem;
}

.camp_details .cadp_button {
    margin-left: 1.5rem;
}

.camp_details .cadp_choice {
    position: relative;
    margin-bottom: 2.5rem;
    overflow: hidden;
}

.camp_details .cadp_switch, .cadp_singleday .cal_stat {
    float: right;
}

.camp_details .cadp_switch label {
    font-size: 1.4rem;
    font-weight: 400;
}

.cadp_singleday {
    padding: 1.2rem 1.5rem;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.cadp_singleday .abovefold_content {
    position: relative;
}

.cadp_singleday .collapse_indicator {
    margin-right: 1.5rem;
    border-right: 1px solid rgba(151, 151, 151, 0.18);
}

.cadp_singleday .collapse_indicator::before {
    content: '';
    width: 0;
    height: 0;
    display: inline-block;
    margin-right: 1.5rem;
}

.cadp_singleday .collapse_indicator.icon_not_collapsed::before {
    border-top: 5.5px solid transparent;
    border-left: 7px solid #a5a5a5;
    border-bottom: 5.5px solid transparent;
}

.cadp_singleday .collapse_indicator.icon_collapsed::before {
    border-left: 5.5px solid transparent;
    border-top: 7px solid #a5a5a5;
    border-right: 5.5px solid transparent;
}

.cadp_singleday .abovefold_content:after {
    position: absolute;
    bottom: -1.5rem;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #ccc;
    content: '';
}

.cadp_singleday:not(:last-child) {
    margin-bottom: 1.5rem;
}

.cadp_singleday .cal_text > p, .cadp_singleday .stat_protein > p, .cadp_singleday .stat_carbs > p, .cadp_singleday .stat_fats > p {
    font-size: 1.4rem;
}

.cadp_singleday .stat_protein, .cadp_singleday .stat_carbs, .cadp_singleday .stat_fats {
    margin-left: 1rem;
}