.react-datepicker {
    font-family: 'Proxima Nova', sans-serif;
    border: 1px solid rgba(151, 151, 151, 0.2);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.12);
}

.react-datepicker__header {
    padding-bottom: 5px;
    background-color: #fff;
    border-bottom: 1px solid rgba(151, 151, 151, 0.2);
}

.react-datepicker__tether-element-attached-top .react-datepicker__triangle {
    border-bottom-color: #fff;
}

.react-datepicker__tether-element-attached-top .react-datepicker__triangle:before {
    border-bottom-color: rgba(151,151,151,0.2);
}

.react-datepicker__current-month {
    font-size: 12px;
    font-weight: 500;
    color: #ed731f;
}

.react-datepicker__navigation {
    top: 12px;
}

.react-datepicker__day {
    width: 34px;
    padding: 3px 12px;
    font-size: 11px;
    font-weight: 400;
    color: #7e7e7e;
}

.react-datepicker__day--selected {
    color: #fff;
    background-color: #ed731f;
}

.react-datepicker__day--selected:hover {
    background-color: #ed731f;
}

.react-datepicker__day-names {
    display: none;
}

.react-datepicker__day--outside-month {
    visibility: hidden;
}