.prompt-sdp .prompt-sdp-header {
    margin-bottom: 2rem;
}

.prompt-sdp .prompt-sdp-header h4 {
    font-family: 'Gotham Bold', 'Arial', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    color: #f77316;
    text-align: center;
}

.prompt-sdp .prompt-sdp-sitem {
    margin-bottom: 2.5rem;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    transition: box-shadow 0.3s linear;
}

.prompt-sdp .prompt-sdp-sitem:hover {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}

.prompt-sdp .prompt-sdp-mpimage {
    position: relative;
    height: 200px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 5px;
    text-align: center;
}

.prompt-sdp .prompt-sdp-mpimage > img {
    width: 100%;
    border-radius: 6px;
}

.prompt-sdp .mpinfo {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    z-index: 399;
    height: 32px;
    width: 32px;
    line-height: 27px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.36);
    border: 0;
    border-radius: 4px;
}

.prompt-sdp .prompt-sdp-mpcal {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 50;
    height: 115px;
    width: 115px;
    padding-top: 15px;
    overflow: hidden;
    color: #fff;
    background-color: rgba(237, 115, 31, 0.85);
    border: 1px solid #ec6608;
    border-radius: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.prompt-sdp .prompt-sdp-mpcal img {
    height: 22px;
    width: 18px;
    margin-bottom: 5px;
}

.prompt-sdp .prompt-sdp-info {
    text-align: center;
}


.prompt-sdp .prompt-sdp-info .dpname {
    font-weight: 700;
    font-size: 16px;
    color: #656565;
}

.prompt-sdp .dpprice {
    margin-bottom: 5px;
    font-size: 14px;
    color: #ec6608;
    text-align: center;
}