.react-tabs-customtheme .react-tabs [role=tablist] {
    margin-bottom: 25px;
    text-align: center;
    border-bottom: none;
}

.react-tabs-customtheme .react-tabs [role=tab] {
    border: none;
}
.react-tabs-customtheme .react-tabs [role=tab]:focus {
    color: #fff !important;
    background-color: #ec6608;
    box-shadow: none !important;
}

.react-tabs-customtheme .react-tabs [role=tab][aria-selected=true] {
    color: #ec6608;
    border-bottom: 1px solid #ec6608;
}