.ondemand-menu-appear, .subscription-menu-appear {
    opacity: 0;
}

.ondemand-menu-appear,
.subscription-menu-appear {
  transform: translateY(30px);
}

.ondemand-menu-appear.ondemand-menu-appear-active,
.subscription-menu-appear.subscription-menu-appear-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease-in 0.1s, transform 0.3s ease-in;
}

.common-enter.common-enter-active,
.common-leave.common-leave-active {
  transition: opacity 0.2s ease-in, transform 0.2s ease-in;
}

.common-enter {
  opacity: 0;
  transform: translateY(20px);
}

.common-enter.common-enter-active {
  opacity: 1;
  transform: translateY(0);
}

.common-leave {
  opacity: 1;
  transform: translateY(0);
}

.common-leave.common-leave-active {
  opacity: 0;
  transform: translateY(20px);
}