.setmpselect_btn {
    padding: 1.2rem 1.5rem;
    display: inline-block;
    background: #f6f6f6;
    border-radius: 4px;
    transition: box-shadow 0.3s linear;
}

.setmpselect_btn:hover {
    text-decoration: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.setmpselect_btn img {
    margin-right: 1rem;
}