.settings_input {
    width: 250px;
    margin: auto;
}

.settings_input:not(:first-child), .settings_btn {
    margin-top: 2.5rem;
}

.settings_input input, .settings_input input:focus {
    box-shadow: none;
}

.settings_input input {
    width: 100% !important;
    padding-left: 0;
    border: none;
    border-bottom: 1px solid #e2e2e2 !important;
    border-radius: 0;
}

.settings_input input:focus {
    border-color: #f77316 !important;
}
