.steprogress {
    position: relative;
    height: 8rem;
    width: 50rem;
    min-height: 8rem;
    margin: auto;
}

.steprogress .progress_section {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.steprogress .stprogress {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
}

.steprogress .stprogressbar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
}

.stprogressbar .horizontal_box {
    display: flex;
    flex-direction: row;
}

.stprogressbar .horizontal_box .base_bar {
    min-width: 170px;
    border-bottom: 6px solid #ededed;
    border-radius: 4px;
}

.stprogressbar .horizontal_box .base_bar:not(:first-child) {
    margin-left: 45px;
}

.steprogress .progress_status_section {
    position: absolute;
    left: 0;
    bottom: 0;
    align-items: flex-end;
}

.progress_status_section .steps {
    position: relative;
    min-width: 170px;
}

.progress_status_section .stepsicons {
    align-items: flex-end;
}

.progress_status_section .vertical_box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.progress_status_section ol.nostyle {
    list-style: none;
    padding: 0;
    margin: 0;
}

.progress_status_section .step_progress_icon {
    display: flex;
    margin-bottom: 0.2rem;
    font-size: 1.6rem;
}

.progress_status_section .icon_wrapper {
    display: flex;
    background-color: #fff;
    border-radius: 50%;
}

.progress_status_section .pack_icon, .progress_status_section .pickup_icon {
    display: inline-block;
    height: 3rem;
    width: 3rem;
}

.progress_status_section .pack_icon > svg, .progress_status_section .tick_icon > svg, .progress_status_section .pickup_icon > svg {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.progress_status_section .tick_icon {
    display: inline-block;
    vertical-align: bottom;
    height: 2.2rem;
    width: 2.2rem;
}


.steps .icon_wrapper {
    position: absolute;
}

.step1 .icon_wrapper {
    top: -48px;
    right: 120px;
}
.step2 .icon_wrapper {
    top: -52px;
    right: -96px;
}
.step3 .icon_wrapper {
    top: -49px;
    left: 450px;
}
