
.custom-switch .switch-withtext {
    margin-bottom: 5px;
    text-align: center;
}

.custom-switch .rc-switch, .custom-switch .rc-switch-checked {
    border: 1px solid #ed731f;
    background-color: #fff;
}

.custom-switch .rc-switch:after {
    background-color: #ed731f;
    box-shadow: 0 2px 5px rgba(237, 115, 31, 0.26);
}

.custom-switch .switch-text {
    display: inline-block;
    vertical-align: middle;
}

.custom-switch .switch-text:first-child {
    margin-right: 5px;
}

.custom-switch .switch-text:last-child {
    margin-left: 5px;
}

.custom-switch .switched-text {
    font-size: 14px;
}