/*
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic);

body {
  !*padding: 50px;*!
  font-family: 14px 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
footer {
  margin-top: 25px;
}
.form-control {
  border-radius: 0;
  box-shadow: none;
  border-color: #d2d6de;
}
.form-control:focus {
  box-shadow: none;
}
.form-control::-moz-placeholder,
.form-control:-ms-input-placeholder,
.form-control::-webkit-input-placeholder {
  opacity: 1;
}
.btn-flat {
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-width: 1px;
}
*/
.row {
  margin-left: 14rem;
}