.mbot1{
  margin-bottom: 1rem !important;
}
.cpn_label{
  font-size: 20px;
  font-weight: bold;
}
.mbot5{
  margin-bottom: 5rem;
}
.flr{
  float: right;
}
.cpn-datepicker .DateRangePicker__picker{
  margin-bottom: 3rem;
}
.cpn-datepicker .DayPickerKeyboardShortcuts__show{
  display: none;
}
.cpn-datepicker .DateInput__display-text--focused, .cpn-datepicker .CalendarDay--selected-start, .CalendarDay--selected-end, .CalendarDay--selected{
  background-color: #F77316;
  border:1px double #F77316;
  color: #fff;
}
.cpn-datepicker .CalendarDay--selected-span{
  background-color: #FFE0B2;
  border:1px double #FFB74D;
  color: #000000;
}
.cpn-datepicker .CalendarDay--hovered-span,
.CalendarDay--after-hovered-start {
  background: #FFE0B2;
  border: 1px double #FFB74D;
  color: #E65100;
}
  .cpn-datepicker .CalendarDay--hovered-span:active,
  .CalendarDay--after-hovered-start:active {
    background: #FFE0B2;
  }
