.akly_list .akly_listsearch-filter-add {
  margin-bottom: 5rem;
  overflow: hidden;
}

.akly_listsearch-filter-add .akly_listsearch {
  float: right;
}

@media only screen and (max-width: 600px) {
  .akly_listsearch-filter-add .akly_listsearch {
    float: none;
  }
}

.akly_listsearch-filter-add .akly_addnew {
  margin-top: 1.538em;
  float: left;

  font-size: 1.6rem;
}

@media only screen and (max-width: 600px) {
  .akly_listsearch-filter-add .akly_addnew {
    float: none;
  }
}

.akly_listbl .akly_listbl_heading {
  margin-bottom: 15px;
}

.akly_listbl .akly_listbl_heading > h4 {
  font-size: 16px;
  font-weight: 300;
  color: #757575;
  text-align: center;
}