.geninput .geninput_group_add {
    display: block;
}

.delivarystatus-select{
    width: 20%;
    padding: 0.5rem;
    margin-right: 1rem;
}
.update-btn, .update-btn:hover, .update-btn:focus{
    color: #fff;
    background-color: #ec6608;
}