.meal_basiceditsec, .meal_tagsimgeditsec,  .meal_desc, .meal_categories, .meal_ingredients {
  margin-bottom: 2.5rem;
}

.meal_imagedit .meal_image {
  height: 50rem;
  width: 100%;
  border: 1px solid #ccc;
}

@media only screen and (max-width: 600px) {
  .meal_imagedit .meal_image {
    height: 40rem;
  }
}

@media only screen and (max-width: 360px) {
  .meal_imagedit .meal_image {
    height: 32rem;
  }
}

.meal_imagedit {
  position: relative;
}

@media only screen and (max-width: 991px) {
  .meal_imageditwrapper {
    margin-top: 2.5rem;
  }
}

.meal_imagedit .meal_image > img {
  height: 100%;
  width: auto;

  display: block;
}

.meal_imagedit .meal_editicon {
  position: absolute;
  top: 0;
  right: 0;

  height: 1.25em;
  width: 1.25em;

  font-size: 1.6rem;

  background-color: rgba(0, 0, 0, 0.7);
}

.meal_imagedit .meal_editicon > svg {
  height: 100%;
  width: 100%;

  fill: #fff;
  cursor: pointer;
}