.meal_plan .meal_plan_search, .meal_plan .meal_plan_selected_food, .meal_plan .meal_plan_actionbtn {
    margin-top: 2.5rem;
}

.meal_plan_search .meal_plan_sb_wrapper {
    float: right;
}

.meal_plan_sb_wrapper .search_icon {
  height: 1.875em;
  width: 1.875em;

  font-size: 1.6rem;
}

.meal_plan_sb_wrapper .search_icon > svg {
  height: 100%;
  width: 100%;

  fill: #ec6608;
  cursor: pointer;
}

.meal_plan_view .meal_plan_view_wrapper {
    width: 100%;
}

.meal_plan_view .meal_plan_card {
    float: left;
    position: relative;
    width: 20%;
    /*padding: 20px;*/

    /*border: 1px solid #ccc;*/
}


.meal_plan_view .meal_plan_card.is_collapsed {
}

.meal_plan_card .meal_plan_day, .meal_plan_card .meal_plan_slot {
  padding: 0.625em 0;
  text-align: center;

  font-size: 1.6rem;
}

.meal_plan_card .meal_plan_day {
  border-left: 1px solid #fff;
}

.meal_plan_card:first-child .meal_plan_day {
    border-left: 1px solid #ec6608;
}

.meal_plan_card:nth-child(5) .meal_plan_day {
    border-right: 1px solid #ec6608;
}

.meal_plan_card .meal_plan_slot {
  border-top: 1px solid #b00835;
  border-left: 1px solid #ccc;
}

.meal_plan_card:nth-child(5) .meal_plan_slot {
  border-right: 1px solid #ccc;
}

.meal_plan_card .meal_plan_day {
  color: #fff;

  background-color: #ec6608;
  border-bottom: 1px solid #ec6608;
}

.meal_plan_card .meal_plan_slot {
  color: #b00835;

  background-color: #f6f6f6;
  border-bottom: 1px solid #b00835;
}

.meal_plan_card:last-child .meal_plan_slot {
  border-right: 1px solid #ccc;
}

.meal_plan_card .meal_plan_day > h3 {
  font-size: 2rem;
}

.meal_plan_card .meal_plan_slot > h4 {
  font-size: 1.8rem;
}

.meal_plan .selected_food_wrapper {
  margin-bottom: 2.5rem;
}

.oxn{
  overflow-x: none;
}

/*react tags*/
/* Example Styles for React Tags*/
.ReactTags__tags {
    position: relative;
}

/* Styles for the input */
.ReactTags__tagInput {
    width: 200px;
    border-radius: 2px;
    display: inline-block;
}
.ReactTags__tagInput .ReactTags__tagInputField,
.ReactTags__tagInput .ReactTags__tagInputField:focus {
    height: 31px;
    margin: 0;
    font-size: 12px;
    width: 100%;
    border: 1px solid #eee;
}

/* Styles for selected tags */
.ReactTags__selected .ReactTags__tag {
    border: 1px solid #ddd;
    background: #eee;
    font-size: 12px;
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    cursor: move;
    border-radius: 2px;
}
.ReactTags__selected .ReactTags__remove {
    color: #aaa;
    margin-left: 5px;
    cursor: pointer;
}

/* Styles for suggestions */
.ReactTags__suggestions {
    position: absolute;
    z-index: 1000;
}
.ReactTags__suggestions ul {
    list-style-type: none;
    box-shadow: .05em .01em .5em rgba(0,0,0,.2);
    background: white;
    width: 200px;
}
.ReactTags__suggestions li {
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    margin: 0;
}
.ReactTags__suggestions li mark {
    text-decoration: underline;
    background: none;
    font-weight: 600;
}
.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
    background: #b7cfe0;
    cursor: pointer;
}

/*react tags*/
