.mp-builder-content,
.meal-plan-basicinfo {
    margin-bottom: 35px;
}

.meal-plan-basicinfo, .mp-builder-content {
    padding: 15px 20px 20px 15px;
    box-shadow: 0 3px 13px rgba(0,0,0,0.16), 0 3px 22px rgba(0,0,0,0.23);
}

.mp-builder-content .react-tabs [role=tablist] {
    margin-bottom: 25px;
    text-align: center;
    border-bottom: none;
}

.mp-builder-content .react-tabs [role=tab] {
    border: none;
}

.mp-builder-content .react-tabs [role=tab]:focus {
    color: #fff !important;
    background-color: #ec6608;
    box-shadow: none !important;
}

.mp-builder-content .react-tabs [role=tab][aria-selected=true] {
    color: #ec6608;
    border-bottom: 1px solid #ec6608;
}

.mp-builder-select2 .select2-container .select2-selection--single {
    height: 36px;
}

.mp-builder-select2 .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #757575;
    line-height: 33px;
}

.mp-builder-select2 .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 6px;
}

[role='addmeal'] {
    display: block;
    height: 20px;
    width: 20px;
    margin-right: 5px;
    text-align: center;
    border: 1px solid #ec6608;
    border-radius: 100%;
    cursor: pointer;
    transition: box-shadow 0.3s linear;
}

[role='addmeal']:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

[role='addmeal'] .glyphicon {
    top: 0;
    font-size: 12px;
    color: #ec6608;
}

[role='addmeal'] + .added_food_card {
    margin-top: 10px;
}

.typeLunch > thead > tr > th[role='breakfast'],
.typeLunch > thead > tr > th[role='dinner'],
.typeLunch > tbody > tr > td[role='breakfast'],
.typeLunch > tbody > tr > td[role='dinner']
 {
    display: none;
}