.meal_imageadd .meal_addicon {
  position: absolute;
  top: 0;
  right: 0;
    
  font-size: 1.6rem;
}

.meal_imageadd_progressbar {
    margin-top: 1.5rem;
}

.meal_recipe .meal_recipe_heading {
    margin-bottom: 0.613em;
    font-size: 1.6rem;
    font-weight: 400;
    color: #757575;
}
