.akly_report .report_layout{
  margin-bottom: 3rem;
}

@media only screen and (max-width: 600px) {
  .akly_report .report_layout{
    text-align: center;
  }
}

.akly_report .report_layout_img {
    height: auto;
    width: 45%;
}

@media only screen and (max-width: 768px) {
    .akly_report .report_layout_img {
        margin: auto;
    }
}

.akly_report .report_layout_img > img {
    height: 100%;
    width: 100%;
    display: block;
}