.mapside{
    text-align: center;
    margin-top: 3rem;
}

.liview_wrapper .select2-container {
    width: 80% !important;
}

.liview_wrapper .select2-container .select2-selection--single {
    height: 32px;
}