.akly_listsearchadd_tag {
    margin-bottom: 5rem;
    overflow: hidden;
}

.akly_listsearchadd_tag .akly_listsearch, .akly_listsearchadd_tag .akly_addinput_tag {
    display: inline-block;
    vertical-align: bottom;
}

@media only screen and (max-width: 768px) {
    .akly_listsearchadd_tag .akly_listsearch, .akly_listsearchadd_tag .akly_addinput_tag {
        display: block;
        vertical-align: baseline;
    }
}

.akly_listsearchadd_tag .akly_listsearch {
    margin-right: 2.5rem;
}

@media only screen and (max-width: 768px) {
    .akly_listsearchadd_tag .akly_listsearch {
        margin-right: 0;
        margin-bottom: 2.5rem;
    }
}
