.wlcmsg_wrapper {
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wlcmsg .wlcmsg_image {
    height: 70px;
    width: 119px;

    margin: auto;
}

.wlcmsg .wlcmsg_image > img {
    height: 100%;
    width: 100%;

    display: block;
}

.wlcmsg .wlcmsg_text {
    margin-top: 2rem;
    text-align: center;
}


.wlcmsg .wlcmsg_text > p {
    font-size: 2.2rem;
    color: #ec6608;
}