.zone_create .zone_create_vendor, .zone_create .zone_create_actionbtn, .zone_create .zone_create_dboy {
    margin-top: 2.5rem;
}

.zone_create .zone_create_gmap_heading {
    margin-bottom: 0.938em;

    font-size: 1.6rem;
}

.zone_create .zone_create_gmap_heading > h4 {
    color: #ec6608;
    text-align: center;
}

.zone_create .zone_create_select2 {
    width: 25rem;
}