.zone_edit .zone_edit_vendor, .zone_edit .zone_edit_actionbtn, .zone_edit .zone_modify_dboy {
    margin-top: 2.5rem;
}

.zone_edit .zone_edit_gmap_heading {
    margin-bottom: 0.938em;

    font-size: 1.6rem;
}

.zone_edit .zone_edit_gmap_heading > h4 {
    color: #ec6608;
    text-align: center;
}

.zone_edit .zone_edit_select2 {
    width: 25rem;
}