.actionbutn .actionbtn_save .actionbtn_save_text, .actionbutn .actionbtn_save .actionbtn_save_loader {
    display: inline-block;
    vertical-align: top;
}


.actionbutn .actionbtn_save .actionbtn_save_loader {
    height: 1.563em;
    width: 1.563em;
    margin-right: 0.313em;

    font-size: 1.6rem;
}

.actionbutn .actionbtn_save .actionbtn_save_loader > svg {
    height: 100%;
    width: 100%;

    fill: #fff;
}
