.butn {
  min-height: 2.2em;
  min-width: 3.76em;

  font-size: 1.6rem;
  color: #fff;
}

.butn.butn_default {
  background-color: #f77316;
  border: 1px solid #f77316;
}

.butn.butn_default:hover,
.butn.butn_default:focus
{
    color: #fff;
}