.nocontent {
    height: calc(100vh - 84px);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.nocontent-text {
    font-size: 2.2rem;
    color: #ed731f;
}