.status-pending {
	background-color: #c0392b;
}

.status-cooking {
	background-color: #f5ab35;
}

.status-ready {
	background-color: #26a65b;
}

.status-ontheway {
	background-color: #8e44ad;
}

.status-accepted {
	background-color: #f9690e;
}

.status-denied {
	background-color: #d2527f;
}

.status-completed {
	background-color: #6c7a89;
}

.status-cancel {
	background-color: #e26a6a;
}

.status-archived {
	background-color: #4183d7;
}