@font-face {
  font-family: 'GothamRnd Bold';

  src: url('../../../fonts/gotham_round/GothamRnd-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'GothamRnd Light';

  src: url('../../../fonts/gotham_round/GothamRnd-Light.otf') format('opentype');
}

@font-face {
  font-family: 'GothamRnd Medium';

  src: url('../../../fonts/gotham_round/GothamRnd-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'GothamRnd Book';

  src: url('../../../fonts/gotham_round/GothamRnd-Book.otf') format('opentype');
}