.addbtn {
  height: 3.8rem;
  width: 3.8rem;
  padding: 8px;
  display: block;

  background-color: #ec6608;
  border: 1px solid #ec6608;
  border-radius: 100%;

  transition: background-color 0.3s ease-in;
}

.addbtn:hover {
  background-color: #f77011;
}

.addbtn > .icon_plus {
  height: 2rem;
  width: 2rem;
  display: block;
}

.addbtn > .icon_plus > svg {
  height: 100%;
  width: 100%;

  fill: #fff;
}