.added_food_card {
    width: 290px;
    margin: 0 auto 1rem;
    padding: 0.5rem 0 0.5rem 0.5rem;
    border: 1px solid #ec6608;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/*.added_food_card .food_info, .added_food_card .food_quantity {
    text-align: center;
}*/

.added_food_card .food_thunmbnailimg, .added_food_card .food_name {
    display: inline-block;
    vertical-align: top;
}


.added_food_card .food_name {
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.added_food_card .food_thunmbnailimg {
    height: 3rem;
    width: 3.5rem;
}

.added_food_card .food_thunmbnailimg > img {
    height: auto;
    width: 100%;
    display: inline-block;
    border-radius: 4px;
}

.added_food_card .food_name {
  margin-left: 0.5rem;
}

.added_food_card .food_name > p {
    max-width: 100%;
    margin: auto;
}

.added_food_card .quantity_plus, .added_food_card .quantity_total, .added_food_card .quantity_minus {
    display: inline-block;
    vertical-align: middle;
}


.added_food_card .quantity_total {
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    line-height: 2.4rem;
    font-size: 1.4rem;
    text-align: center;
    color: #fff;
    background-color: #ec6608;
    border: 1px solid #ec6608;
    border-radius: 100%;
}

.added_food_card .quantity_icon {
    height: 1.5rem;
    width: 1.5rem;
}

.added_food_card .quantity_icon > svg {
    height: 100%;
    width: 100%;

    fill: #ec6608;
    cursor: pointer;
}

/*upload food img*/
/*.upload-food_img{
  width: auto;
  height: 50rem;
}

.upload-food_img img{
  width: 100%;
  height: 100%;
}

.link_youtube{
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.upload-nutri_img{
  width: auto;
  max-height: 50rem;
  overflow-y: scroll;
}

.upload-nutri_img img{
  width: 100%;
  height: 100%;
}

.home-modal_img{
  width: 100%;
  height: 100%;
}*/
