.butn {
  min-height: 2.5em;
  min-width: 5.56em;

  font-size: 1.8rem;
  color: #fff;
}

.butn.butn_default:hover, .butn.butn_default:focus, .butn.butn_danger:hover, .butn.butn_danger:focus, .butn.butn_cancel:hover, .butn.butn_cancel:focus,
.butn.butn_back:hover, .butn.butn_back:focus {
  color: #fff;
}

.butn.butn_default {
  background-color: #f77316;
  border: 1px solid #f77316;
}

.butn.butn_default:hover, .butn.butn_default:focus {
  background-color: #ec6608;
  border: 1px solid #ec6608;
}

.butn.butn_danger {
  background-color: #dd4248;
  border: 1px solid #dd4248;
}

.butn.butn_danger:hover, .butn.butn_danger:focus {
  background-color: #d92c33;
  border: 1px solid #d92c33;
}

.butn.butn_cancel {
  background-color: #fb8a3a;
  border: 1px solid #fb8a3a;
}

.butn.butn_cancel:hover, .butn.butn_cancel:focus {
  background-color: #fb9953;
  border: 1px solid #fb9953;
}

.butn.butn_back {
  background-color: #e10a44;
  border: 1px solid #e10a44;
}

.butn.butn_back:hover, .butn.butn_back:focus {
  background-color: #c8093c;
  border: 1px solid #c8093c;
}