.dropzone-mpbuilder {
  height: 200px;
  width: 250px;
  line-height: 200px;
  margin-top: 15px;
  border: 1px solid #ccc;
  cursor: pointer;
  box-shadow: 0 3px 13px rgba(0,0,0,0.16), 0 3px 22px rgba(0,0,0,0.23);
}

.dropzone-mpbuilder-imgwrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.dropzone-mpbuilder-imgwrapper > img {
  width: 100%;
}

.food-dropzone {
    height: 400px;
    width: 100%;
    border: 1px dashed #ccc;
    cursor: pointer;
}

.dropzone-food-imgwrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.dropzone-food-imgwrapper > img {
  height: 100%;
}


/*upload food img*/
/*.upload-food_img{
  width: auto;
  height: 50rem;
}

.upload-food_img img{
  width: 100%;
  height: 100%;
}

.link_youtube{
  margin-top: 3rem;
  margin-bottom: 3rem;
}*/
/*.upload-nutri_img{
  width: auto;
  max-height: 50rem;
  overflow-y: scroll;
}

.upload-nutri_img img{
  width: 100%;
  height: 100%;
}

.home-modal_img{
  width: 100%;
  height: 100%;
}*/
