.geninput {
  width: 100%;

  font-size: 1.6rem;
}

.geninput .form-group {
  margin-bottom: 0;
}

.geninput .geninput_label {
  margin-bottom: 0.313em;

  font-size: 1.6rem;
  font-weight: 400;
  color: #757575;
}

.geninput .geninput_formctrl {
  padding-left: 0;

  font-size: 1.8rem;
  color: #757575;

  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  box-shadow: none;
  transition: color 0.2s linear;
}

.geninput .geninput_formctrl:hover,
.geninput .geninput_formctrl:focus {
    border-bottom-color: #ec6608;
}

.geninput .geninput_formctrl[readonly], .geninput_textarea .geninput_textareactrl[readonly] {
  background-color: rgba(0,0,0,.02);
}

.geninput .geninput_helptext {
  margin-top: 0.5rem;
}

.geninput .geninput_helptext > p {
  font-size: 1.4rem;
  color: #757575;
}

.geninput .input-group-addon {
  padding: 0;
  vertical-align: bottom;

  background-color: #fff;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
}

.geninput .geninput_editicon {
  height: 1.25em;
  width: 1.25em;

  font-size: 1.6rem;
}

.geninput .geninput_editicon > svg {
  height: 100%;
  width: 100%;

  fill: #454545;
  cursor: pointer;
}

.geninput_textarea .geninput_editicon {
  margin-left: -0.3rem;
  display: inline-block;
  vertical-align: middle;
}

.geninput_textarea .geninput_textareactrl {
  font-size: 1.6rem;
  color: #454545;

  resize: none;
  border: 1px solid #ccc;
  box-shadow: none;
  transition: color 0.2s linear;
}

.geninput_textarea .geninput_textareactrl:hover,
.geninput_textarea .geninput_textareactrl:focus {
  border-color: #ec6608;
}

.geninput_textarea .geninput_textareactrl.textarea_descheight {
  height: 9.375em;
}

.geninput_textarea .geninput_textareactrl.textarea_ingredientheight {
  height: 3.750em;
}

.uploadbutn_wrapper {
  height: 2.5em;
  width: 9.26em;
  margin: auto;

  font-size: 1.8rem;
}

.uploadbutn_wrapper .uploadbutn_label {
  display: block;
  padding: 0.5em 1em;
  font-weight: 400;
  color: #fff;
  background-color: #03a9f4;
  border: 1px solid #03a9f4;
  border-radius: 4px;
  cursor: pointer;
}

.uploadbutn_wrapper .uploadbutn_file {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 0%;
  font-size: 1px;
  visibility: hidden;
}