.actionbutn .actionbtn_save, .actionbutn .actionbtn_cancel, .actionbutn .actionbtn_back, .actionbutn .actionbtn_delete {
  display: inline-block;
  vertical-align: top;
}

@media only screen and (max-width: 360px) {
  .actionbutn .actionbtn_save, .actionbutn .actionbtn_cancel, .actionbutn .actionbtn_back {
    display: block;
  }

  .actionbutn .butn {
    min-width: 100%;
  }
}

.actionbutn .actionbtn_cancel, .actionbutn .actionbtn_back, .actionbutn .actionbtn_delete {
  margin-left: 0.5rem;
}

@media only screen and (max-width: 360px) {
  .actionbutn .actionbtn_cancel, .actionbutn .actionbtn_back {
    margin-left: 0;
    margin-top: 1rem;
  }
}