.gmap_search {
    height: 32px;
    width: 55%;
    margin-top: 10px;
    padding-left: 10px;
    
    font-size: 14px;
    
    border: 1px solid transparent;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.gmap_wrapper {
    height: 40rem;
    width: 100%;
}