.ingredients .ingredients-input {
    height: 34px;
    width: 250px;
    margin-bottom: 15px;
    padding: 6px 12px 6px 0;
    line-height: 1.42857143;
    font-size: 18px;
    color: #757575;
    background-color: #fff;
    background-image: none;
    border: none;
    border-bottom: 1px solid #ccc;
}

.ingredients .ingredients-input:focus {
    outline: 0;
}

.ingredients-listitem {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 250px;
    padding: 5px 10px;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 1px 6px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}

.ingredients-listitem:not(:last-child) {
    margin-bottom: 15px;
}

.ingredients-text {
    width: 95%;
    padding-right: 10px;
    color: #757575;
    word-break: break-word;
}

.ingredients-remove {
    width: 5%;
}

.ingredients-text, .ingredients-remove {
    display: inline-block;
    vertical-align: middle;
}

.ingredients-remove {
    font-size: 14px;
    color: rgba(221, 66, 72, 0.9);
    cursor: pointer;
}