.akly_inputadd .inputadd_form, .akly_inputadd .inputadd_butn {
    display: inline-block;
    vertical-align: bottom;
}

.akly_inputadd .addbtn {
    height: 3.2rem;
    width: 3.2rem;
    padding: 5px;
}