.akly_adminpagination {
  margin-top: 2.5rem;
  overflow: hidden;
}

.akly_adminpagination .akly_paginationwrapper {
  float: right;
}

@media only screen and (max-width: 600px) {
  .akly_adminpagination .akly_paginationwrapper {
    float: none;

    text-align: center;
  }
}

.akly_pagination_arrow_left, .akly_pagination_state, .akly_pagination_arrow_right {
    display: inline-block;
    vertical-align: middle;
}

.akly_pagination_arrow_left {
    margin-left: 0.3rem;
}

.akly_pagination_arrow_right {
    margin-right: 0.3rem;
}

.icon_leftarrow, .icon_rightarrow {
    height: 2rem;
    width: 2rem;
}

.icon_leftarrow > svg, .icon_rightarrow > svg {
    height: 100%;
    width: 100%;
    
    fill: #c8093c;
    cursor: pointer;
}

.akly_pagination_state .currentpage {
  height: 2.188em;
  width: 2.188em;
  margin-left: 0.063em;
  margin-right: 0.063em;
  padding: 0.313em;
  display: inline-block;
  vertical-align: middle;

  font-size: 1.6rem;
  color: #c8093c;

  background-color: #fff;
  border: 1px solid #c8093c;
  border-radius: 100%;
  text-align: center;
}
