.akly_admintable {
  margin-bottom: 0;

  border: 1px solid #ccc;
}


.akly_admintable > thead > tr > th, .akly_admintable > tbody > tr > td {
  font-size: 1.4rem;
  color: #454545;

  border: 1px solid #ccc;
}

.akly_admintable > thead > tr > th, .akly_admintable_gen > tbody > tr > td {
    padding: 0.938em;
}

.akly_admintable_inlinedit > tbody > tr > td {
    padding: 0;
    line-height: 0;
}

.akly_admintable_inlinedit > tbody > tr > td:last-child {
    padding: 0.938em;
}

.akly_admintable_inlinedit > tbody > tr > td > input {
    height: 3.313em;
    width: 100%;
    padding-left: 0.938em;

    font-size: 1.4rem;

    cursor: pointer;
    border: 0;
}

.akly_admintable_inlinedit > tbody > tr > td > input:focus {
    background-color: #f2f2f2;
    outline: 0;

    cursor: auto;
}

.akly_admintable > thead > tr > th {
  font-weight: 700;
}

.akly_admintable_gen > tbody > tr {
    background-color: #fff;

    transition: background-color 0.3s ease-in;
}

.akly_admintable_gen > tbody > tr:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

.akly_admintable > tbody > tr > td {
  font-weight: 400;
}

.akly_admintable .akly_tbledit, .akly_admintable .akly_tbldel {
  display: inline-block;
  vertical-align: middle;
}

.akly_tbledit > .akly_tblicon, .akly_tbldel > .akly_tblicon {
  height: 1.350em;
  width: 1.350em;
  display: inline-block;
  vertical-align: middle;

  font-size: 1.6rem;
}

.akly_tbledit > .akly_tblicon > svg, .akly_tbldel > .akly_tblicon > svg {
  height: 100%;
  width: 100%;
}

.akly_tbledit > .akly_tblicon > svg {
  fill: #454545;
}

.akly_tbldel > .akly_tblicon > svg {
  fill: #d9534f;
}