.meal_plan_table .meal_plan_slots {
    width: 10rem;
    padding: 0;
}

.meal_plan_table .meal_plan_slots .lunch,  .meal_plan_table .meal_plan_slots .dinner{
    position: relative;
    height: 25rem;
    padding: 0 0.750em;
    font-size: 1.6rem;
}

.meal_plan_table .meal_plan_slots .lunch {
    background-color: #f2f2f2;
    border-bottom: 1px solid #ec6608;
}

.meal_plan_table .meal_plan_slots .dinner {
    background-color: #fafafa;
}

.meal_plan_table .meal_plan_slots .lunch p,  .meal_plan_table .meal_plan_slots .dinner p{
    position: absolute;
    top: 50%;
    font-size: 1.8rem;
    transform: translateY(-50%);
}

.meal_plan_table .meal_plan_slots .lunch p {
    color: #ec6608;
}

.meal_plan_table .meal_plan_slots .dinner p {
    color: #b00835;
}

.meal_plan_table .akly_admintable > tbody > tr {
    transition: none;
}

.meal_plan_table .akly_admintable > tbody > tr:hover {
    background-color: #fff;
    cursor: auto;
}

.meal_plan_table .meal_plan_added_foods  {
    max-width: 10rem;
    padding: 0;
}

.meal_plan_table .meal_plan_added_foods .lunch,  .meal_plan_table .meal_plan_added_foods .dinner{
    height: 25rem;
    overflow: scroll;
}

.meal_plan_table .meal_plan_added_foods .lunch {
    border-bottom: 1px solid #ec6608;
}

.meal_plan_table .added_food_card_wrapper {
    height: 100%;
    padding: 1rem 0 0;
}