.modal.fade .modal-dialog {
  top: -16px;

  margin-top: 0;

	opacity: 0;
  transform: scale(0.1);
	transition: all 0.3s;
}

.modal.fade.in .modal-dialog {
  opacity: 1;
	transform: scale(1);
	transform: translate3d(0, 60px, 0);
}
