.file_upload_progress {
    height: 30px;
    margin-bottom: 0;
}

.file_upload_progress .file_upload_progress-bar {
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    
    background-color: #c8093c;
}