@media (min-width: 768px) {
    .edit-tag-prompt .edit-tag-prompt_dialog {
        width: 45rem;
    }
}

.edit-tag-prompt .edit-tag-prompt_content {
    padding: 2.5rem 0;
    border-radius: 4px;
    box-shadow: none;
}

.edit-tag-prompt .modal-body,
.edit-tag-prompt .modal-footer {
    padding: 0;
}

.edit-tag-prompt .modal-body {
    margin-bottom: 1.25em;
    overflow: hidden;
    font-size: 1.6rem;
}

.edit-tag-prompt .edit-tag-prompt_input {
    width: 25rem;
    margin: auto;
}

.edit-tag-prompt .modal-footer {
    text-align: center;
    border-top: none;
}

.edit-tag-prompt .modal-footer .btn+.btn {
    margin-left: 0.278em;
}