@media (min-width: 768px) {
  .uploadprompt .uploadprompt_dialog {
    width: 45rem;
  }
}

.uploadprompt .uploadprompt_content {
  padding: 2.5rem 0;

  border-radius: 4px;
  box-shadow: none;
}

.uploadprompt .modal-body, .uploadprompt .modal-footer {
  padding:0;
}

