@media (min-width: 768px) {
    .meal-search-prompt {
        margin-left: 180px;
    }
    .meal-search-prompt .meal-search-prompt_dialog {
        width: 100%;
        margin: 0 auto;
    }
}

.meal-search-prompt .meal-search-prompt_content {
    height: 100vh;
    padding: 7.5rem 0 2.5rem;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: none;
}

.meal-search-prompt .modal-body,
.meal-search-prompt .modal-footer {
    padding: 0;
}

.meal-search-prompt .modal-body {
    overflow: hidden;
    font-size: 1.6rem;
}

.meal-search-prompt .meal-search-sb .sb {
    width: 80%;
    margin: 0 auto;
}

.meal-search-sb .pseudo_helperlabel {
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 400;
  color: #757575;
  text-align: center;
}

.meal-search-prompt .sb_inputgroup .sb_formctrl {
  font-size: 3rem;
  color: #ec6608;
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid #ec6608;
}

.meal-search-prompt .sb_inputgroup .sb_formctrl::placeholder {
  color: rgba(236, 102, 8, 0.6);
}

.meal-search-prompt .meal-search-prompt-close {
  position: absolute;
    left: 15px;
    top: 20px;
    z-index: 1200;
    padding: 0.5rem 0.3rem 0 0.2rem;
    background-color: #ec6608;
    border: 1px solid #ec6608;
}

.meal-search-prompt-close .close_icon {
  height: 2.7rem;
  width: 2.7rem;
}

.meal-search-prompt-close .close_icon > svg {
  height: 100%;
  width: 100%;

  fill: #fff;
  cursor: pointer;
}

.meal-search-prompt .meal-search-sb .sb_dropdown {
  margin-top: 2.5rem;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
}

.meal-search-prompt .meal-search-sb .sb_dropdown li {
  margin-bottom: 0.5rem;
  padding: 0.3rem 0;
  background-color: #f6f6f6;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: background-color 0.2s ease-in;
}

.meal-search-prompt .meal-search-sb .sb_dropdown li:hover {
    background-color: #ec6608;
}

.meal-search-prompt .meal-search-sb .sb_dropdown li > a {
  width: 100%;
  padding: 6px 12px;
  display: block;
}

.meal-search-prompt .meal-search-sb .sb_dropdown li > a:hover, .meal-search-prompt .meal-search-sb .sb_dropdown li > a:focus {
  text-decoration: none;
}

.meal-search-prompt .meal-search-sb .sb_dropdown li > a .food_thunmbnailimg, .meal-search-prompt .meal-search-sb .sb_dropdown li > a .food_name {
  display: inline-block;
  vertical-align: top;
}

.meal-search-prompt .meal-search-sb .sb_dropdown li > a .food_name {
  margin-left: 0.5rem;
}

.meal-search-prompt .meal-search-sb .sb_dropdown li > a .food_thunmbnailimg {
  height: 3rem;
  width: 3.5rem;
}

.meal-search-prompt .meal-search-sb .sb_dropdown li > a .food_thunmbnailimg > img {
  height: 100%;
  width: 100%;
  display: inline-block;
  border-radius: 4px;
}

.meal-search-prompt .meal-search-sb .sb_dropdown li > a > span {
  font-size: 1.8rem;
  color: #ec6608;
  transition: color 0.2s ease-in;
}

.meal-search-prompt .meal-search-sb .sb_dropdown li:hover > a > span {
  color: #fff;
}

