@media (min-width: 768px) {
  .food_detailsprompt {
    margin-left: 180px;
  }

  .food_detailsprompt .food_detailsprompt_dialog {
    width: 98%;
  }
}

.food_detailsprompt .food_detailsprompt_content {
  height: 650px;
  padding: 2.5rem 0;
  overflow-y: scroll;

  border-radius: 4px;
  box-shadow: none;
}

.food_detailsprompt .food_detailsprompt-close {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 1200;
}

.food_detailsprompt-close .close_icon {
  height: 2.7rem;
  width: 2.7rem;
}

.food_detailsprompt-close .close_icon > svg {
  height: 100%;
  width: 100%;

  fill: #d9534f;
  cursor: pointer;
}

.food_detailsprompt .modal-body, .food_detailsprompt .modal-footer {
  padding:0;
}

.food_detailsprompt .modal-body {
  margin-bottom: 1.25em;

  font-size: 1.6rem;
}

.food_detailsprompt .food_detailsprompt_text > p {
  font-size: 1.8rem;
  color: #454545;

  text-align: center;
}

.food_detailsprompt .modal-footer {
  text-align: center;
  border-top: none;
}

.food_detailsprompt .modal-footer .btn+.btn {
  margin-left: 0.278em;
}

.food_detailsprompt .food_info_wrapper {
  padding: 3rem;
}

.food_detailsprompt .food_basicinfo, .food_detailsprompt .food_description, .food_detailsprompt .food_ingredients {
  margin-bottom: 2.5rem;
}

.food_detailsprompt .food_name, .food_detailsprompt .food_price, .food_detailsprompt .food_ingredients h4, .food_detailsprompt .food_recipe h4 {
  margin-bottom: 0.5rem;
}

.food_detailsprompt .food_name {
  font-size: 2rem;
  color: #ec6608;
}

.food_detailsprompt .food_price {
  color: #b00835;
}

.food_detailsprompt .food_ingredients h4, .food_detailsprompt .food_recipe h4 {
  color: #ec6608;
}

.food_detailsprompt .food_recipe li {
  list-style: decimal;
}

.food_detailsprompt .food_tag {
  padding: 0.3rem 0.5rem;
  display: inline-block;
  vertical-align: middle;
  font-size: 1.4rem;
  color: #fff;
  background-color: #ec6608;
  border: 1px solid #ec6608;
  border-radius: 4px;
}

.food_detailsprompt .food_tag:not(:first-child) {
  margin-left: 0.5rem;
}

.food_detailsprompt .food_image {
  height: 46rem;
  width: 90%;
  margin: auto;
}

.food_detailsprompt .food_image > img {
  height: 100%;
  width: 100%;
  display: block;
}