@media (min-width: 768px) {
  .delprompt .delprompt_dialog {
    width: 45rem;
  }
}

.delprompt .delprompt_content {
  padding: 2.5rem 0;

  border-radius: 4px;
  box-shadow: none;
}

.delprompt .modal-body, .delprompt .modal-footer {
  padding:0;
}

.delprompt .modal-body {
  margin-bottom: 1.25em;

  font-size: 1.6rem;
}

.delprompt .delprompt_text > p {
  font-size: 1.8rem;
  color: #454545;

  text-align: center;
}

.delprompt .modal-footer {
  text-align: center;
  border-top: none;
}

.delprompt .modal-footer .btn+.btn {
  margin-left: 0.278em;
}
