.rbs-table .form-control {
    padding-left: 0;
    font-size: 1.6rem;
    font-weight: 400;
    color: #757575;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    box-shadow: none;
    transition: border-bottom-color 0.3s linear 0.1s;
}

.rbs-table .form-control:hover {
    border-bottom-color: #ec6608;
}

.rbs-table .table > thead {
    background-color: #fcfcfc;
}

.rbs-table .table > thead > tr > th {
    color: #757575;
    border: 1px solid #ccc;
}

.rbs-table .table > tbody > tr > td {
    padding: 12px;
    cursor: pointer;
}

.rbs-table .table-hover > tbody > tr {
    transition: color 0.3s linear 0.1s, background-color 0.3s ease-in;
}

.rbs-table .table-hover > tbody > tr:hover {
    color: #fff;
    background-color: #f88839;
}

.rbs-table .table-hover > tbody > tr:hover td > div {
    color: #fff !important;
}

.rbs-table .react-bs-table-pagination #pageDropDown {
    color: #ec6608;
}

.rbs-table .pagination > li > a,
.rbs-table .pagination > li > span {
    color: #ec6608;
}

.rbs-table .pagination > .active > a,
.rbs-table .pagination > .active > span,
.rbs-table .pagination > .active > a:hover,
.rbs-table .pagination > .active > span:hover,
.rbs-table .pagination > .active > a:focus,
.rbs-table .pagination > .active > span:focus {
    color: #fff;
    background-color: #ec6608;
    border-color: #ec6608;
}