.custom-rt.ReactTable .rt-thead .rt-th,
.custom-rt.ReactTable .rt-thead .rt-td {
    padding: 10px 5px;
}

.custom-rt.ReactTable .rt-thead .rt-resizable-header-content {
    color: #757575;
}

.custom-rt.ReactTable input,
.custom-rt.ReactTable select {
    padding: 8px 10px;
    color: #555;
    border-radius: 6px;
    transition: border-color 0.3s linear;
}

.custom-rt.ReactTable input:hover,
.custom-rt.ReactTable select:hover {
    border-color: rgba(236, 102, 8, 0.7);
}

.custom-rt.ReactTable.-highlight .rt-tbody .rt-tr:not(.-padRow) {
    transition: color 0.3s linear, background-color 0.3s ease-in;
}

.custom-rt.ReactTable.-highlight .rt-tbody .rt-tr:not(.-padRow):hover {
    color: #fff;
    background-color: #f88839;
}

.custom-rt.ReactTable .rt-th,
.custom-rt.ReactTable .rt-td {
    padding: 10px 10px;
}

.custom-rt.ReactTable .-pagination .-pageJump input {
    color: #ec6608;
}

.ReactTable input:not([type="checkbox"]):not([type="radio"])::placeholder {
    color: #a6a8ab;
}