.sb {
  width: 15.625em;

  font-size: 1.6rem;
}

.sb .form-group {
  margin-bottom: 0;
}

.sb .sb_label {
  margin-bottom: 0.313em;

  font-size: 1.6rem;
  font-weight: 400;
  color: #757575;
}

.sb_inputgroup .sb_formctrl {
  padding-left: 0;

  font-size: 1.6rem;
  color: #757575;

  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  box-shadow: none;
}

.sb .input-group-addon {
  padding: 0;
  vertical-align: bottom;

  background-color: #fff;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
}

.sb .sb_searchicon {
  height: 1.25em;
  width: 1.25em;

  font-size: 1.6rem;
}

.sb .sb_searchicon > svg {
  height: 100%;
  width: 100%;

  fill: #ec6608;
}

.sb .sb_dropdown.dropdown-menu {
  width: 100%;
  overflow-x: hidden;

  border-color: #ccc;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

}

.sb .sb_dropdown.dropdown-menu li {
  margin-bottom: 1rem;
}

.sb .sb_dropdown.dropdown-menu li > a {
  padding: 3px 12px 3px 15px;
  white-space: normal;
}

.sb .sb_dropdown.dropdown-menu li > a:hover {
  background-color: #ececec;
}

.sb .sb_dropdown.dropdown-menu li > a span {
  font-size: 1.6rem;
  color: #454545;
}

@media only screen and (max-width: 600px) {
  .sb .sb_dropdown.dropdown-menu li > a span {
    font-size: 1.4rem;
  }
}