.selected_food {
  position: relative;

  padding: 0.750em 0.938em;
  overflow: hidden;

  font-size: 1.6rem;

  background-color: #fff;
  border: 1px solid #ec6608;
  border-radius: 4px;
  cursor: pointer;
}

.selected_food:hover {
  background-color: #f6f6f6;
}

.selected_food .food_info {
  width: 85%;
  font-size: 1.6rem;
}

.selected_food .food_thunmbnailimg, .selected_food .food_name {
    display: inline-block;
    vertical-align: top;
}

.selected_food .food_thunmbnailimg {
    height: 3rem;
    width: 3.5rem;
}

.selected_food .food_thunmbnailimg > img {
    height: auto;
    width: 100%;
    display: inline-block;
    border-radius: 4px;
}

.selected_food .food_name {
  margin-left: 0.5rem;
}

.selected_food .food_remove {
  position: absolute;
  top: 50%;
  right: 15px;
  z-index: 300;
  transform: translateY(-50%);
}

.food_remove > .food_remove_closeicon {
  height: 2rem;
  width: 2rem;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.food_remove > .food_remove_closeicon > svg {
  height: 100%;
  width: 100%;

  fill: #dd4248;
}