.customer_app {
    position: relative;
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Gotham Medium', 'Arial', sans-serif;
    color: #adadad;
}


.customer_app a, a:hover, a:focus {
  color: #adadad;
}

.customer_app .ca_pgctlayout {
    padding: 0 2.5rem;
}

@media only screen and (min-width: 1200px) {
    .customer_app .ca-container {
        padding-left: 0;
        padding-right: 0;
    }
}